[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"
watchdog = "*"

[packages]
django = ">=2.0.6"
python-ldap = "*"
ldap3 = "*"
pillow = "*"
python-magic = "*"
django-markdown-deux = "*"
django-ldapdb = "*"
mysqlclient = "*"
pyyaml = "*"
requests = "*"
djangorestframework = "*"
slackclient = "*"
django-auth-ldap = "*"

[requires]
python_version = "3.5"
