{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="content box">
          <h1>Log in</h1>
          <form method="post" {% if next %} action="?next={{next}}" {% endif %}>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
          </form>
          <br>
          <p>
          Need an account? Create one <a href=>here!</a> 
          If you need help, please talk to an <a href="{% url 'officers' %}">officer!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{# vim: set et ts=2 sw=2 tw=200: #}
