{% load markdown_deux_tags %}
<!-- BEGIN TEMPLATE // -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" valign="top" id="templatePreheader">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        class="templateContainer"
      >
        <tr>
          <td valign="top" class="preheaderContainer">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnTextBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td
                    valign="top"
                    class="mcnTextBlockInner"
                    style="padding-top:9px;"
                  >
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width:300px;"
                      width="100%"
                      class="mcnTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            class="mcnTextContent"
                            style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                          >
                            CSUA: Upcoming Events Newsletter
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width:300px;"
                      width="100%"
                      class="mcnTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            class="mcnTextContent"
                            style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                          >
                            <div style="text-align: right;">
                              {% now "F jS, Y" %}
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" id="templateHeader">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        class="templateContainer"
      >
        <tr>
          <td valign="top" class="headerContainer">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnImageBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnImageBlockOuter">
                <tr>
                  <td
                    valign="top"
                    style="padding:9px"
                    class="mcnImageBlockInner"
                  >
                    <table
                      align="left"
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      class="mcnImageContentContainer"
                      style="min-width:100%;"
                    >
                      <tbody>
                        <tr>
                          <td
                            class="mcnImageContent"
                            valign="top"
                            style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;"
                          >
                            <a
                              href="http://www.csua.berkeley.edu"
                              title=""
                              class=""
                              target="_blank"
                            >
                              <img
                                align="center"
                                alt=""
                                src="https://gallery.mailchimp.com/3e2d3e62274ea01781b01bd2d/images/01a7e34b-1b9a-4625-9259-2ef05decf823.png"
                                width="200"
                                style="max-width: 200px; padding-bottom: 0px; vertical-align: bottom; display: inline !important; border-radius: 0%;"
                                class="mcnImage"
                              />
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnBoxedTextBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnBoxedTextBlockOuter">
                <tr>
                  <td valign="top" class="mcnBoxedTextBlockInner">
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      style="min-width:100%;"
                      class="mcnBoxedTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;"
                          >
                            <table
                              border="0"
                              cellspacing="0"
                              class="mcnTextContentContainer"
                              width="100%"
                              style="min-width: 100% !important;background-color: #4CAAD8;"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    valign="top"
                                    class="mcnTextContent"
                                    style='padding: 18px;color: #FFFFFF;font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;font-size: 16px;font-style: normal;font-weight: normal;line-height: 200%;text-align: center;'
                                  >
                                    <span
                                      style="font-family:courier new,courier,lucida sans typewriter,lucida typewriter,monospace"
                                      ><span style="font-size:16px"
                                        >UC Berkeley Computer Science
                                        Undergraduate Association</span
                                      ><br />
                                      <span style="font-size:32px"
                                        >UPCOMING EVENTS</span
                                      ></span
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            {% include "outreach/email_divider.html"%}

            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnTextBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td
                    valign="top"
                    class="mcnTextBlockInner"
                    style="padding-top:9px;"
                  >
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width:100%; min-width:100%;"
                      width="100%"
                      class="mcnTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            class="mcnTextContent"
                            style="padding: 0px 18px 9px; line-height: 150%;"
                          >
                            <div style="text-align: center;">
                              <strong
                                ><span
                                  style="font-family:courier new,courier,lucida sans typewriter,lucida typewriter,monospace"
                                  ><span style="font-size:32px"
                                    >Announcements!</span
                                  ></span
                                ></strong>
                            </div>

                            <ol>
                              {% for event in events %}
                              <li style="text-align: left;">
                                <strong>
                                  <span style="font-size:14px">
                                    {{ event.date | date:"l, F j" }} -
                                    <em>{{ event.name }}</em>
                                  </span>
                                </strong>
                              </li>
                              {% endfor %}
                            </ol>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" id="templateBody">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        class="templateContainer"
      >
        <tr>
          <td valign="top" class="bodyContainer">

            {% for event in events %}

            {% include "outreach/email_divider.html"%}

            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnTextBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td
                    valign="top"
                    class="mcnTextBlockInner"
                    style="padding-top:9px;"
                  >
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width:100%; min-width:100%;"
                      width="100%"
                      class="mcnTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            class="mcnTextContent"
                            style="padding: 0px 18px 9px; line-height: 150%;"
                          >
                            <!-- <span style="font-size:14px"> -->
                              <span
                                style="font-family:arial,helvetica neue,helvetica,sans-serif"
                                >{{ forloop.counter }}.&nbsp;&nbsp;<strong>{{ event.name }}</strong></span
                              >
                            <!-- </span> -->
                      <br />
                            <!-- <span style="font-size:13px"> -->
                              <em>
                                {{ event.date|date:"l, F j" }}, {{ event.time }}<br>
                                {{ event.location }}<br>
                              </em>
                              Details:
                              <a href="{{ event.link }}">
                                {{ event.link }}
                              </a >
                              <br />
                              {{ event.description|markdown }}
                            <!-- </span> -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            {% endfor %}

            {% include "outreach/email_divider.html"%}
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnTextBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td
                    valign="top"
                    class="mcnTextBlockInner"
                    style="padding-top:9px;"
                  >
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width:100%; min-width:100%;"
                      width="100%"
                      class="mcnTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            class="mcnTextContent"
                            style="padding: 0px 18px 9px; line-height: 150%;"
                          >
                            <span style="font-size:13px"
                              >Want to hear about our events sooner? Like our
                              Facebook page below and turn on
                              notifications!</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            {% include "outreach/email_divider.html"%}

          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td align="center" valign="top" id="templateFooter">
      <table
        align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        class="templateContainer"
      >
        <tr>
          <td valign="top" class="footerContainer">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnFollowBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnFollowBlockOuter">
                <tr>
                  <td
                    align="center"
                    valign="top"
                    style="padding:9px"
                    class="mcnFollowBlockInner"
                  >
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="mcnFollowContentContainer"
                      style="min-width:100%;"
                    >
                      <tbody>
                        <tr>
                          <td
                            align="center"
                            style="padding-left:9px;padding-right:9px;"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="min-width:100%;"
                              class="mcnFollowContent"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="top"
                                    style="padding-top:9px; padding-right:9px; padding-left:9px;"
                                  >
                                    <table
                                      align="center"
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                    >
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top">
                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              class="mcnFollowStacked"
                                              style="display:inline;"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowIconContent"
                                                    style="padding-right:10px; padding-bottom:5px;"
                                                  >
                                                    <a
                                                      href="csua.berkeley.edu"
                                                      target="_blank"
                                                      ><img
                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png"
                                                        alt="Website"
                                                        class="mcnFollowBlockIcon"
                                                        width="48"
                                                        style="width:48px; max-width:48px; display:block;"
                                                    /></a>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowTextContent"
                                                    style="padding-right:10px; padding-bottom:9px;"
                                                  >
                                                    <a
                                                      href="csua.berkeley.edu"
                                                      target="_blank"
                                                      style='color: #656565;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;font-size: 11px;'
                                                      >Website</a
                                                    >
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>


                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              class="mcnFollowStacked"
                                              style="display:inline;"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowIconContent"
                                                    style="padding-right:10px; padding-bottom:5px;"
                                                  >
                                                    <a
                                                      href="https://www.facebook.com/csua/"
                                                      target="_blank"
                                                      ><img
                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png"
                                                        alt="Facebook"
                                                        class="mcnFollowBlockIcon"
                                                        width="48"
                                                        style="width:48px; max-width:48px; display:block;"
                                                    /></a>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowTextContent"
                                                    style="padding-right:10px; padding-bottom:9px;"
                                                  >
                                                    <a
                                                      href="https://www.facebook.com/csua/"
                                                      target="_blank"
                                                      style='color: #656565;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;font-size: 11px;'
                                                      >Facebook</a
                                                    >
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              class="mcnFollowStacked"
                                              style="display:inline;"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowIconContent"
                                                    style="padding-right:10px; padding-bottom:5px;"
                                                  >
                                                    <a
                                                      href="https://www.youtube.com/channel/UCKkPHA6Ny6aQigaIc93wmnA"
                                                      target="_blank"
                                                      ><img
                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-youtube-96.png"
                                                        alt="YouTube"
                                                        class="mcnFollowBlockIcon"
                                                        width="48"
                                                        style="width:48px; max-width:48px; display:block;"
                                                    /></a>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowTextContent"
                                                    style="padding-right:10px; padding-bottom:9px;"
                                                  >
                                                    <a
                                                      href="https://www.youtube.com/channel/UCKkPHA6Ny6aQigaIc93wmnA"
                                                      target="_blank"
                                                      style='color: #656565;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;font-size: 11px;'
                                                      >YouTube</a
                                                    >
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              class="mcnFollowStacked"
                                              style="display:inline;"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowIconContent"
                                                    style="padding-right:10px; padding-bottom:5px;"
                                                  >
                                                    <a
                                                      href="https://www.linkedin.com/company/17904871"
                                                      target="_blank"
                                                      ><img
                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-96.png"
                                                        alt="LinkedIn"
                                                        class="mcnFollowBlockIcon"
                                                        width="48"
                                                        style="width:48px; max-width:48px; display:block;"
                                                    /></a>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowTextContent"
                                                    style="padding-right:10px; padding-bottom:9px;"
                                                  >
                                                    <a
                                                      href="https://www.linkedin.com/company/17904871"
                                                      target="_blank"
                                                      style='color: #656565;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;font-size: 11px;'
                                                      >LinkedIn</a
                                                    >
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              class="mcnFollowStacked"
                                              style="display:inline;"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowIconContent"
                                                    style="padding-right:0; padding-bottom:5px;"
                                                  >
                                                    <a
                                                      href="mailto:politburo@csua.berkeley.edu"
                                                      target="_blank"
                                                      ><img
                                                        src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-96.png"
                                                        alt="Email"
                                                        class="mcnFollowBlockIcon"
                                                        width="48"
                                                        style="width:48px; max-width:48px; display:block;"
                                                    /></a>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="mcnFollowTextContent"
                                                    style="padding-right:0; padding-bottom:9px;"
                                                  >
                                                    <a
                                                      href="mailto:politburo@csua.berkeley.edu"
                                                      target="_blank"
                                                      style='color: #656565;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;font-size: 11px;'
                                                      >Email</a
                                                    >
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="mcnTextBlock"
              style="min-width:100%;"
            >
              <tbody class="mcnTextBlockOuter">
                <tr>
                  <td
                    valign="top"
                    class="mcnTextBlockInner"
                    style="padding-top:9px;"
                  >
                    <table
                      align="left"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width:100%; min-width:100%;"
                      width="100%"
                      class="mcnTextContentContainer"
                    >
                      <tbody>
                        <tr>
                          <td
                            valign="top"
                            class="mcnTextContent"
                            style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"
                          >
                            UC Berkeley Computer Science Undergraduate
                            Association (CSUA)<br />
                            Visit our office in 311 Soda -- Right outside 3rd
                            floor entrance!<br />
                            <a
                              href="https://www.csua.berkeley.edu/"
                              target="_blank"
                              >www.csua.berkeley.edu</a
                            ><br />
                            <br />
                            If you would like to unsubscribe from our mailing
                            list, please email
                            <a
                              href="mailto:outreach@csua.berkeley.edu?subject=Unsubscribe%20from%20CSUA%20Members&amp;body=Please%20unsubscribe%20me%20from%20the%20CSUA%20Members%20Mailing%20List.%20Thank%20you!"
                              target="_blank"
                              >outreach@csua.berkeley.edu</a
                            >.<br />
                            Questions, comments, concerns? Please email
                            <a
                              href="mailto:politburo@csua.berkeley.edu"
                              target="_blank"
                              >politburo@csua.berkeley.edu</a
                            >.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
