<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  class="mcnDividerBlock"
  style="min-width:100%;"
>
  <tbody class="mcnDividerBlockOuter">
    <tr>
      <td
        class="mcnDividerBlockInner"
        style="min-width: 100%; padding: 10px 18px 25px;"
      >
        <table
          class="mcnDividerContent"
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="min-width: 100%;border-top: 2px solid #EEEEEE;"
        >
          <tbody>
            <tr>
              <td>
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
