:root {
	--accent: #3f64a5;
	--bulma-link-text: var(--accent);
	--bulma-content-heading-color: var(--accent);
}

.button {
	background-color: var(--accent);
}

#notices {
	margin: 10px;
}
#content { /* TODO is this needed? */
	flex: 1 0 auto;
}
