#title {
	font-size: 4rem;
}
#headline {
	text-align: center;
	font-weight: 500;
	font-size: 1.8rem;
}
@media (max-width: 768px) {
	#headline {
		font-size: 1.5rem;
	}
}
html {
	scroll-behavior: smooth;
}
