/* Logic for showing alternative photo */
.phototwo, .videotwo {
	display: none;
}
.photo-frame:hover .photoone {
	display: none;
}
.photo-frame:hover .phototwo, .photo-frame:hover .videotwo {
	display: block;
}
