/* General */
html {
    background-color: #dddddd;
    height: 100%
}
body {
    margin: 0px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    height: 100%
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.clear {
    clear: both;
}
/* Navigation Bar */
#navbar {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    max-width: 920px;
    margin: 0 auto;
    padding: 0 40px;
    top: 0;
    left: 0;
    right: 0;
}
#logo {
    display: inline-block;
    margin: 7.5px 0px;
    width: 60px;
    float: left;
}
#navbar ul {
    float: right;
}
#navbar ul li {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 14px;
}
#navbar ul li a {
    padding: 20.5px 20px;
}
#navbar ul li ul {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    left: 10px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #CCC;
    border-top: none;
    width: 105px;
    padding: 5px 0;
}
#navbar ul li ul li {
    padding: 5px 0;
}
#navbar ul li ul li a{
    padding: 0 10px;
}
#navbar ul li:hover ul {
    display: flex;
    flex-direction: column;
}
@media (max-width: 630px) {
    #navbarcontainer {
        padding: 0 25px;
    }
    .navitem {
        margin-left: 30px;
    }
}
@media (max-width: 490px) {
    #logo {
        display: none;
    }
}

/* Content Containers */
@media (min-width: 700px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        max-width: 960px;
        padding: 80px 20px 20px;
    }
    .column {
        display: inline-block;
        width: 40%;
        width: calc(100% / 2.04);
    }
    .columnleft {
        float: left;
    }
    .columnright {
        float: right;
    }
    .responsivehidden {
        display: none;
    }
}
@media (max-width: 700px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        max-width: 1020px;
        padding: 80px 20px 20px;
    }
}
.block {
    border: 1px solid #CCC;
    padding: 15px;
    background-color: #FAFAFA;
    margin-bottom: 20px;
}
.blockseparation {
    margin-bottom: 20px;
}
.textseparation {
    margin-bottom: 10px;
}
/* Content Styling */
h1 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
}
h2 {
    font-size: 18px;
    font-weight: 400;
}
p {
    font-size: 14px;
    line-height: 26px;
}
#half-text {
  width: 50%;
}
#pagetitle {
  text-align: center;
  background: none;
  border: none;
}
#headertitle {
  font-size: 40px;
}
#texttitle {
  font-size: 20px;
}
/* Footer */
footer {
    clear:both;
    text-align: center;
    padding-top: 20px;
}
