.photo-frame {
	overflow: hidden;
}
@media only screen and (max-width: 800px) {
	.photo-frame {
	}
}
.photoone, .phototwo, .single {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
/* Logic for showing alternative photo */
.phototwo {
	display: none;
}
.photo-frame:hover .photoone {
	display: none;
}
.photo-frame:hover .phototwo {
	display: block;
}
.root-staff-banner {
	background: #366d97;
	color: #decb4b;
	font-family: Courier New, monospace;
	font-weight: bold;
	padding: 5px 0;
	position: relative;
	text-align: center;
        z-index: 1;
	bottom: 100%;
	left: 50%;
	width: 120px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	transform: rotate(-45deg);
}
