{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block css_file %}about.css{% endblock %}
{% block content %}
<div class="column columnleft">
    <div class="block">
        <div class="header">Hello, World</div>
        <div class="text">
            The UC Berkeley Computer Science Undergraduate Association supports the
            undergraduate Computer Science student body and acts as an entry point
            to industry.
        </div>
        <div class="text">
            The CSUA hosts speaker series, semesterly
            hackathons, coding for grub events, job/internship workshops,
            LAN parties, the annual Startup Fair, and CS community meetings.
        </div>
        <div class="textseparation"></div>
        <div class="header">Our Office</div>
        <div class="text">
            The CSUA Office is located in 311 Soda Hall in front of the 3rd floor
            entrance to Soda Hall, at the corner of Hearst &amp; LeRoy.
            We also maintain a study lounge at 343 Soda Hall (within Soda).
        </div>
        <div class="text">
            We work around the clock to provide computing resources, support, and
            community to the computer science students at Berkeley.
            In the rare case that you have an emergency and the office is vacant, you
            may email us at <img class="tex" src="{{ STATIC_URL }}/images/emails/politburo.svg">.
        </div>
    </div>
    <div class="blockseparation"></div>
    <div id="officerpicture">
        <img src="{{ STATIC_URL }}images/officers.jpg">
    </div>
</div>
<div class="responsivehidden blockseparation"></div>
<div class="column columnright">
    <div id="officepicture">
        <img src="{{ STATIC_URL }}images/office.jpg">
    </div>
    <div id="officeaddress">
        <div id="address" class="text">
            <b>Address:</b></br>
            Computer Science Undergraduate Association</br>
            University of California, Berkeley</br>
            311 Soda Hall</br>
            Berkeley, CA 94720-1776
        </div>
    </div>
    <div class="blockseparation"></div>
    <div class="block">
        <div id="politburo">
            <a href="/politburo/">
                <div class="blueheaderlink">The Politburo</div>
            </a>
            <div class="text">
                The Politburo is composed of elected officers of the CSUA. You can
                contact the Politburo at <img class="tex" src="{{ STATIC_URL }}/images/emails/politburo.svg">.
            </div>
        </div>
        <div class="textseparation"></div>
        <div id="officers">
            <a href="/officers/">
                <div class="blueheaderlink">Officers</div>
            </a>
            <div class="text">
                Officers are people you find frequently at the office. They're responsible
                for keeping the place open and friendly. Many of them are experienced
                with programming and can help you with your classes.
            </div>
        </div>
        <div class="textseparation"></div>
        <div id="constitution">
            <a href="/constitution/">
                <div class="blueheaderlink">The Constitution</div>
            </a>
            <div class="text">
                Our constitution represents our vision and purpose in the campus
                community.
            </div>
        </div>
    </div>
</div>
{% endblock %}
