{% extends "base.html" %}
{% block title %}Industry{% endblock %}
{% block css_file %}industry.css{% endblock %}
{% block content %}
<div id="block1" class="columnleft">
    <div id="industrypicture">
        <img src="{{ STATIC_URL }}images/industry.jpg">
    </div>
</div>
<div class="responsivehidden blockseparation"></div>
<div id="block2" class="columnright block">
    <div class="header">Industry</div>
    <div class="text">
        The Berkeley CSUA works closely with companies, investors, entrepreneurs,
        and active members of the software industry to bring both mentorship and
        job opportunities to students.
    </div>
    <div class="text">
        Interested in working with the CSUA to sponsor an event or to
        speak at one of our events? Please send an email to <img class="tex" src="{{ STATIC_URL }}/images/emails/politburo.svg">.
    </div>
    <div class="blockseparation"></div>
    <div class="header">Some of our Sponsors</div>
    <div class="text">
        We are very grateful to all our company sponsors who make much of what
        we do possible. Thank you!
    </div>
</div>
<div class="clear blockseparation"></div>
<div class="column columnleft">
    <div class="sponsor block">
        <div class="companyname">
            <a href="http://www.meraki.com/">
                <div class="blueheaderlink">Cisco Meraki</div>
            </a>
        </div>
        <div class="text">
            Meraki brings the benefits of the cloud to edge and branch networks,
            delivering easy-to-manage wireless, switching, and security solutions
            that enable customers to seize new business opportunities and reduce
            operational cost. Whether securing iPads in an enterprise or blanketing
            a campus with WiFi, Meraki networks simply work.</br>
            Sponsorship: Fall 2012, Spring 2013, Fall 2013, Spring 2014 Hackathons,
            Multiple Coding for Grubs
        </div>
    </div>
    <div class="sponsor block">
        <div class="companyname">
            <a href="http://www.microsoft.com/">
                <div class="blueheaderlink">Microsoft</div>
            </a>
        </div>
        <div class="text">
            Founded in 1975, Microsoft is the worldwide leader in software, services,
            and solutions that help people and businesses realize their full potential.</br>
            Sponsorship: Fall 2012 & Fall 2013 Hackathons
        </div>
    </div>
    <div class="sponsor block">
        <div class="companyname">
            <a href="https://www.dropbox.com/">
                <div class="blueheaderlink">Dropbox</div>
            </a>
        </div>
        <div class="text">
            Dropbox is a free service that lets you bring your photos, docs, and
            videos anywhere and share them easily. More than 200 million people
            across every continent use Dropbox to always have their stuff at hand,
            share with family and friends, and work on team projects.</br>
            Sponsorship: Spring 2013 Hackathon
        </div>
    </div>
    <div class="sponsor block">
        <div class="companyname">
            <a href="http://www.yelp.com/">
                <div class="blueheaderlink">Yelp</div>
            </a>
        </div>
        <div class="text">
            Yelp was founded in 2004 to help people find great local businesses like
            dentists, hair stylists and mechanics. Yelp uses automated software to
            recommend the most helpful and reliable reviews for the Yelp community
            among the millions we get. The software looks at dozens of different
            signals, including various measures of quality, reliability, and activity
            on Yelp.</br>
            Sponsorship: Fall 2013 & Spring 2013 Coding for Grubs
        </div>
    </div>
</div>
<div class="column columnright">
    <div class="sponsor block">
        <div class="companyname">
            <a href="http://www.rackspace.com/">
                <div class="blueheaderlink">Rackspace</div>
            </a>
        </div>
        <div class="text">
            Rackspace is a service leader in cloud computing. It delivers
            enterprise-class hybrid cloud infrastructures to businesses of
            all sizes and kinds around the world.</br>
            Sponsorship: Spring 2013 & Fall 2013 Hackathons, Fall 2013 Coding for Grub
        </div>
    </div>
    <div class="sponsor block">
        <div class="companyname">
            <a href="http://www.intel.com/">
                <div class="blueheaderlink">Intel</div>
            </a>
        </div>
        <div class="text">
            Back in 1968, two scientists, Robert Noyce and Gordon Moore, founded
            Intel with a vision for semiconductor memory products. By 1971, they had
            introduced the world's first microprocessor. Since then, Intel has
            established a heritage of innovation that continues to expand the reach
            and promise of computing while advancing the ways people work and live
            worldwide.</br>
            Sponsorship: Spring 2014 Intel Hackathon
        </div>
    </div>
    <div class="sponsor block">
        <div class="companyname">
            <a href="http://www.heroku.com/">
                <div class="blueheaderlink">Heroku</div>
            </a>
        </div>
        <div class="text">
            Heroku is a cloud application platform - a new way of building and
            deploying web apps. Our service lets app developers spend their time on
            their application code, not managing servers, deployment, ongoing
            operations, or scaling.</br>
            Sponsorship: Spring 2012 Hackathon                    
        </div>
    </div>
    <div class="sponsor block">
        <div class="companyname">
            <a href="https://squareup.com/">
                <div class="blueheaderlink">Square</div>
            </a>
        </div>
        <div class="text">
            Square began with a simple idea: everyone should be able to accept credit
            cards. We've been rethinking buying and selling ever since. From a
            revolutionary card reader to an online marketplace, we're helping local
            sellers connect with customers everywhere.</br>
            Sponsorship: Fall 2013 Interview Workshop, Fall 2013 View from the Top
        </div>
    </div>
</div>
{% endblock %}
