{% extends "base.html" %}
{% block title %}Officers{% endblock %}
{% block css_file %}officers.css{% endblock %}
{% block content %}
<div class="header">
    Officers
</div>
<div class="text">
    Are you new to Berkeley? New to CS? Need help with class? Want people to
    talk to? Come by the office in 311 Soda and meet some of our officers! They're here
    to help you and keep the office tidy and fun.
</div>
<div class="blockseparation"></div>
<div class="column columnleft">
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/alex1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/alex2.jpg">
        </div>
        <div class="info">
            <div class="name">Alex Hu</div>
            <div class="officehours">Wednesday, 9-10 PM</div>
            <div class="description">
                "Skilled at coding, lifting, and eating.  Not in that order."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/austin1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/austin2.jpg">
        </div>
        <div class="info">
            <div class="name">Austin Kim</div>
            <div class="officehours">Mondays TBA</div>
            <div class="description">
                "Hi."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="singlephoto">
            <img src="{{ STATIC_URL }}images/officers/brandon.jpg">
        </div>
        <div class="info">
            <div class="name">Brandon Jones</div>
            <div class="officehours">Tuesday, 3-4 PM</div>
            <div class="description">
                TBA
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="singlephoto">
            <img src="{{ STATIC_URL }}images/officers/charles.jpg">
        </div>
        <div class="info">
            <div class="name">Charles Shengyu Wang</div>
            <div class="officehours">Monday, 5-6 PM</div>
            <div class="description">
                ">>> import antigravity"
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/claire1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/claire2.jpg">
        </div>
        <div class="info">
            <div class="name">Claire Lieu</div>
            <div class="officehours">Wednesday, 4-5 PM</div>
            <div class="description">
                "Mandarin and Taiwanese, with food most of the time :p"
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/collin1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/collin2.jpg">
        </div>
        <div class="info">
            <div class="name">Collin Johnston</div>
            <div class="officehours">Friday, 11 AM - 12 PM</div>
            <div class="description">
                TBA
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/diego1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/diego2.jpg">
        </div>
        <div class="info">
            <div class="name">Diego Kiner</div>
            <div class="officehours">Monday, 3-4 PM</div>
            <div class="description">
                "I like to do science. I like to teach science. You can ask me for
                help with pretty much any lower division math, physics, or CS class!"
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/elizabeth1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/elizabeth2.jpg">
        </div>
        <div class="info">
            <div class="name">Elizabeth Kim</div>
            <div class="officehours">Monday, 9-10 AM</div>
            <div class="description">
                "Purring."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/forest1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/forest2.jpg">
        </div>
        <div class="info">
            <div class="name">Forest Hughes</div>
            <div class="officehours">Monday, 11:30 - 12:30 PM</div>
            <div class="description">
                "Always down for: playing melee, making music, learning something new, free food"
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/hina1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/hina2.jpg">
        </div>
        <div class="info">
            <div class="name">Hina Sakazaki</div>
            <div class="officehours">Tuesday, 12:30-2 PM</div>
            <div class="description">
                "Have taken all CS prerequisites. Also works as L&S CS Peer Adviser
                under Christopher Hunn in 377 Soda if you need advice. Have taken
                lots of Upper Div Econ classes. Pro Dota2 Player. #swagazaki"
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/james1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/james2.jpg">
        </div>
        <div class="info">
            <div class="name">James Kang</div>
            <div class="officehours">Thursday, 9:30-10:30 AM</div>
            <div class="description">
                "The only non-CS major."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/jeffrey1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/jeffrey2.jpg">
        </div>
        <div class="info">
            <div class="name">Jeffrey Zhang</div>
            <div class="officehours">Monday, 4-5 PM</div>
            <div class="description">
                "Eye'm da best."
            </div>
        </div>
    </div>
</div>
<div class="column column right">
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/jonathan1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/jonathan2.jpg">
        </div>
        <div class="info">
            <div class="name">Jonathan Allen</div>
            <div class="officehours">Wednesday, 12-1 PM</div>
            <div class="description">
                "You know those engineering geniuses here that seem to know
                everything? Yea, I'll put you in contact with them if you come find
                me. But really, food's my treat if you ever need help with classes,
                relationships, or life."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/kara1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/kara2.jpg">
        </div>
        <div class="info">
            <div class="name">Kara Gieseking</div>
            <div class="officehours">Tuesday, 2-3 PM</div>
            <div class="description">
                "I do some of the flyer art and have dreams of being a technical
                artist. I'm always on the search for inspirational music and good
                stories, and occasionally play the flute."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="singlephoto">
            <img src="{{ STATIC_URL }}images/officers/leo.jpg">
        </div>
        <div class="info">
            <div class="name">Leo Wu</div>
            <div class="officehours">Thursday, 4-5 PM</div>
            <div class="description">
                "The cutest member of the CSUA.<br>Don't touch my blurb again."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/maajid1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/maajid2.jpg">
        </div>
        <div class="info">
            <div class="name">Maajid Nazrulla</div>
            <div class="officehours">Tuesday, 4-5 PM</div>
            <div class="description">
                "Poker player, DotA feeder, (jazz/classical) trumpeter, fascinated by
                yo-yos and cameras. In my last semester at Berkeley! It's interview time."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="singlephoto">
            <img src="{{ STATIC_URL }}images/officers/neil.jpg">
        </div>
        <div class="info">
            <div class="name">Neil Hegde</div>
            <div class="officehours">Wednesday, 8-9 AM</div>
            <div class="description">
                "...at an intersection of Computer Science and Design."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/rahul1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/rahul2.jpg">
        </div>
        <div class="info">
            <div class="name">Rahul Basu</div>
            <div class="officehours">Tuesday, 3:30-4:30 PM</div>
            <div class="description">
                "I like to swim, climb, run, hike, and occasionally do CS. In other
                words, I'm hella Californian."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="singlephoto">
            <img src="{{ STATIC_URL }}images/officers/robert.jpg">
        </div>
        <div class="info">
            <div class="name">Robert Chang</div>
            <div class="officehours">Tuesday, 2-3 PM</div>
            <div class="description">
                Cheeeeeesecake
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/sarah1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/sarah2.jpg">
        </div>
        <div class="info">
            <div class="name">Sarah Kim</div>
            <div class="officehours">Monday, 1-2 PM</div>
            <div class="description">
                "I like to read CS research papers. I am very bad at probability.
                I used to be a Political Science major before I realized my true
                calling. Now I dream of becoming a data scientist. I also happen
                to be the CSUA webmaster."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/sherry1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/sherry2.jpg">
        </div>
        <div class="info">
            <div class="name">Sherry Xu</div>
            <div class="officehours">TBA</div>
            <div class="description">
                "I'm a Biology and Computer Science double major. If you need help
                with any of the biology/premed courses in addition to CS
                courses or would just like to talk about options for a
                Bio/CS double major, feel free to talk to me!"
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/shrayus1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/shrayus2.jpg">
        </div>
        <div class="info">
            <div class="name">Shrayus Gupta</div>
            <div class="officehours">Wednesday, 2:30-3:30 PM</div>
            <div class="description">
                "Come talk to me, I promise to be nice and polite."
            </div>
        </div>
    </div>
    <div class="officer">
        <div class="photoone">
            <img src="{{ STATIC_URL }}images/officers/tristan1.jpg">
        </div>
        <div class="phototwo">
            <img src="{{ STATIC_URL }}images/officers/tristan2.jpg">
        </div>
        <div class="info">
            <div class="name">Tristan Killeen</div>
            <div class="officehours">Thursday, 12:45-1:45 PM</div>
            <div class="description">
                "Altruistic Hero."
            </div>
        </div>
    </div>
</div>
{% endblock %}
