{% extends "base.html" %}
{% block title %}Politburo{% endblock %}
{% block css_file %}politburo.css{% endblock %}

{% block content %}
<div class="about">
    <div class="header">
        The Politburo
    </div>
    <div class="text">
        The Politburo consists of the seven elected officers of the CSUA. <br>
        They are the governing body of the CSUA and a unique group of people
        who are eager to talk to you about the CSUA. <br>
        You can contact the Politburo at <img class="tex" src="{{ STATIC_URL }}/images/emails/politburo.svg">.
    </div>
</div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/collin.jpg">
    </div>
    <div class="info">
        <div class="title">President</div>
        <div class="name">Collin Johnston</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/president.svg"></div>
        <div class="text">
            The President leads General and Politburo meetings and is the
            representative of the CSUA in its duties as the undergraduate
            computer science students' representative body. The President
            communicates with the University, faculty members, and other
            student organizations.
        </div>
        <div class="text">
            Please contact Collin for general questions or concerns about the CSUA.
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/jeremy.jpg">
    </div>
    <div class="info">
        <div class="title">VP/Industrial Relations</div>
        <div class="name">Jeremy Park</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/indrel.svg"></div>
        <div class="text">
            The VP of Industrial relations is the CSUA's liaison with companies
            and CSUA alumni. The VP attains sponsors for external events and
            generates industrial interest in the CSUA. The VP also coordinates
            speakers from alumni or industry, manages info sessions and the job
            list-serve, and assists the President.
        </div>
        <div class="text">
            If you are alumni or a member of industrial, we welcome you! Please
            contact Jeremy with any questions, concerns, or offers regarding
            events, info sessions, speaking events, or sponsorships. Thank you
            for your support and interest in the CSUA.
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/alexchu.jpg">
    </div>
    <div class="info">
        <div class="title">VP/Technology</div>
        <div class="name">Alex Chu</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/vp.svg"></div>
        <div class="text">
            The VP of Technology administers and maintains the technical resources
            of the CSUA, such as our computer equipment, servers, and list-serves.
            The VP is also the head of our root staff and a liaison with all
            campus IT and technical services. The VP solves or delegates the
            solving of any technical issues that may arise.
        </div>
        <div class="text">
            If you have any questions about your account with the CSUA, the CSUA
            servers or software, or root concerns, please contact Alex.
            He and the rest of root staff will work towards resolving any technical
            issues that might occur.
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/claire1.jpg">
    </div>
    <div class="info">
        <div class="title">Secretary/Treasurer</div>
        <div class="name">Claire Lieu</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/treasurer.svg"></div>
        <div class="text">
            The Secretary/Treasurer takes minutes at meetings, maintains the
            CSUA's monetary resources, keeps all financial and non-financial
            records of the CSUA, and administers the CSUA's physical resources
            (the office, the study lounge, the library, etc.). The
            Secretary/Treasurer is also the liaison with any University funding
            programs and facility maintenance and thus the primary signatory power
            with the ASUC.
        </div>
        <div class="text">
            If you have questions or concerns about the CSUA's budget or physical
            resources, please contact Claire. Claire can also address any prompts
            regarding our publicly available financial and non-financial records.
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/jeffrey.jpg">
    </div>
    <div class="info">
        <div class="title">External Events</div>
        <div class="name">Jeffrey Zhang</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/externalevents.svg"></div>
        <div class="text">
            The External Events Coordinator plans and prepares all logistics for
            each external event of the CSUA. An external event is defined as an
            event sponsored by a company. The External Events Coordinator works
            closely with the VP of Industrial Relations and the Internal Events
            Coordinator.
        </div>
        <div class="text">
            Should you have any questions about upcoming external events for this
            semester or have an offer for a potential future event, please contact
            Jeffrey. Jeffrey can also address any logistical questions regarding past or
            current external events.
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/neil.jpg">
    </div>
    <div class="info">
        <div class="title">Internal Events</div>
        <div class="name">Neil Hegde</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/internalevents.svg"></div>
        <div class="text">
            The Internal Events Coordinator plans and prepares all logistics
            for each internal event of the CSUA. An internal event is defined as
            an event that does not have a company sponsor. This includes general
            meetings, interclub events, intersocial events, and alumni events.
            The Internal Events Coordinator works closely with the External Events
            Coordinator.
        </div>
        <div class="text">
            Please direct your internal events questions to Neil.
    </div>
</div>
<div class="clear"></div>
<div class="politburo">
    <div class="pbphoto">
        <img src="{{ STATIC_URL }}images/officers/kara.jpg">
    </div>
    <div class="info">
        <div class="title">Outreach</div>
        <div class="name">Kara Gieseking</div>
        <div class="email"><img class="tex" src="{{ STATIC_URL }}/images/emails/outreach.svg"></div>
        <div class="text">
            The Outreach chair maintains or delegates the maintenance of the CSUA
            website by regulating content on the website and on various social
            media networks. The Outreach chair also publicizes all CSUA events to
            the general student body, promotes interaction between current
            students and alumni, and welcomes and recruits new members.
        </div>
        <div class="text">
            If you are a student interested in joining the CSUA, feel free to reach
            out to Kara. Kara can also address any questions about
            upcoming CSUA events.
            If you have specific questions regarding website style, navigation, or
            content, please direct your questions to the webmaster (Sarah Kim).
        </div>
    </div>
</div>
{% endblock %}
