/* General */
html {
    background-color: #dddddd;
    height: 100%
}
body {
    margin: 0px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    height: 100%
}
img {
    width: 100%;
}
#twitch img {
    width: 24px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.text a {
    color: rgba(20, 145, 232, 0.9);
}
.text a:hover {
    color: rgba(20, 145, 232, 0.65);
}
.clear {
    clear: both;
}

/* Navigation Bar */
#navbar {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
#navbarcontainer {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 40px;
}
#logo {
    display: inline-block;
    margin: 7.5px 0px;
    width: 60px;
    float: left;
}
.navitem {
    display: inline-block;
    position: relative;
    float: right;
    margin-left: 50px;
    font-weight: 400;
    font-size: 14px;
    padding: 20.5px 0;
}
@media (max-width: 630px) {
    #navbarcontainer {
        padding: 0 25px;
    }
    .navitem {
        margin-left: 30px;
    }
}
@media (max-width: 490px) {
    #logo {
        display: none;
    }
}
.navitem:nth-child(6) {
    margin-left: 0;
}
.navlink {
    color: #777;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    top: 50px;
    left: -12px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #CCC;
    border-top: none;
    width: 105px;
    padding: 5px 0;
}
.navitem:hover .navlink {
    color: black;
}
.navitem:hover .dropdown {
    display: block;
}
.dropdownitem {
    color: #777;
    padding: 5px 10px;
}
.dropdownitem:hover {
    color: black;
}

/* Content Containers */
@media (min-width: 700px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        max-width: 960px;
        padding: 80px 20px 20px;
    }
    .column {
        display: inline-block;
        width: 40%;
        width: calc(100% / 2.04);
    }
    .columnleft {
        float: left;
    }
    .columnright {
        float: right;
    }
    .responsivehidden {
        display: none;
    }
}
@media (max-width: 700px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        max-width: 1020px;
        padding: 80px 20px 20px;
    }
}
.block {
    border: 1px solid #CCC;
    padding: 15px;
    background-color: #FAFAFA;
}
.blockseparation {
    margin-bottom: 20px;
}
.textseparation {
    margin-bottom: 10px;
}

/* Content Styling */
.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
}
.subheader {
    font-size: 18px;
    font-weight: 600;
}
.subheader > a {
    color: rgba(20, 145, 232, 0.9);
}
.subheader > a:hover {
    color: rgba(20, 145, 232, 0.65);
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
}
#half-text {
  width: 50%;
}
.imbeddedpic {
  text-align: right;
}
#showcase1img {
  width: 100%;
  object-fit: cover;
}
#pagetitle {
  text-align: center;
  background: none;
  border: none;
}
#headertitle {
  font-size: 40px;
}
#texttitle {
  font-size: 20px;
}

/* Events */
.event {
    margin-top: 10px;
}
.event-name {
    font-size: 17px;
    font-weight: 700;
}
.event-name:hover {
    color: #AAA;
}
.event-photo {
    margin: 5px 0px;
}
.event-timelocation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
}

/* Footer */
#footer {
    text-align: center;
    margin-top: 20px;
}
