/* General */
html {
    background-color: #c1c0c0;
    height: 100%
}
body {
    margin: 0px;
    font-family: "Open Sans", "Helvetica", "Arial", sans serif;
    height: 100%
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.clear {
    clear: both;
}

/* Navigation Bar */
#navbarcontainer {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 60px;
}
@media (min-width: 1020px) {
    #navbar {
        width: 920px;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        padding: 0px 40px;
    }
    #logo {
        display: inline-block;
    }
    #csua {
        margin: 12px 0px 0px 70px;
    }
}
@media (max-width: 1020px) {
    #navbar {
        width: 760px;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        padding: 0px 40px;
    }
    #logo {
        display: inline-block;
    }
    #csua {
        margin: 12px 0px 0px 70px;
    }
}
@media (max-width: 880px) {
    #navbar {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        padding: 0px 40px;
    }
    #logo {
        display: none;
    }
    #csua {
        margin: 12px 0px 0px;
    }
}
#logo {
    margin: 6px 0px;
    width: 60px;
    float: left;
}
#csua {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    float: left;
}
#navsection {
    display: inline-block;
    float: right;
}
.navitem {
    display: inline-block;
    font-weight: 100;
    position: relative;
    margin-left: 50px;
    padding: 18px 0px;
}
.navlink {
    color: white;
}
.dropdown {
    position: absolute;
    display: none;
    z-index: 10;
    margin-top: 5px;
    background-color: #333;
    padding: 5px 0px;
    margin-left: -10px;
    border-radius: 1px;
    width: 105px;
}
.dropdownitem {
    color: white;
    padding: 0px 10px;
}

/* Content Containers */
@media (min-width: 1020px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        width: 960px;
        padding: 80px 20px 20px;
    }
    .column {
        display: inline-block;
        width: 470px;
    }
    .columnleft {
        float: left;
    }
    .columnright {
        float: right;
    }
    .responsivehidden {
        display: none;
    }
}
@media (max-width: 1020px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        width: 800px;
        padding: 80px 20px 20px;
    }
}
@media (max-width: 880px) {
    #content {
        margin: 0px auto;
        background-color: #e4e3e2;
        width: 600px;
        padding: 80px 20px 20px;
    }
}
.block {
    border: 1px solid #c1c0c0;
    padding: 15px;
    background-color: #eee
}
.blockseparation {
    margin-bottom: 20px;
}
.textseparation {
    margin-bottom: 10px;
}

/* Content Styling */
.header {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
}
.blueheaderlink {
    font-size: 18px;
    font-weight: 600;
    color: #005fa3;
}
.greyheaderlink {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    color: grey;
}
@media (min-width: 880px) {
    .text {
        font-size: 14px;
    }
}
@media (max-width: 880px) {
    .text {
        font-size: 18px;
    }
}
.text {
    line-height: 26px;
    font-weight: 300;
}

/* Events */
.event {
    margin-top: 10px;
}
.event-name {
    font-size: 17px;
    font-weight: 700;
}
.event-photo {
    margin: 5px 0px;
}
.event-timelocation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
}

/* Footer */
#footer {
    text-align: center;
    margin-top: 20px;
}
.creditblue {
    color: #005fa3;
    display: inline;
}
.creditgrey {
    color: grey;
    display: inline;
}

/* Emails */
@media (min-width: 880px) {
    .tex {
        height: 14px;
        margin-bottom: -3px;
        width: auto;
    }
}
@media (max-width: 880px) {
    .tex {
        height: 18px;
        margin-bottom: -4px;
        width: auto;
    }
}
