.section {
    margin-bottom: 15px;
}
.article {
    font-size: 30px;
    display: inline;
}
.title {
    display: inline;
    font-size: 30px;
    color: grey;
    margin-left: 15px;
}
.text {
    font-size: 14px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 5px;
}
.subsection {
    font-size: 18px;
    margin-top: 10px;
}
.subpoint {
    margin: 5px 0px 0px 50px;
}
.subtext {
    line-height: 28px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 300;
}
.subsubtext {
    margin-left: 50px;
}
