#address {
    line-height: 18px;
    margin: 15px 15px 5px;
}
#pagetitle {
  text-align: center;
  background: none;
  border: none;
}
#headertitle {
  font-size: 40px;
}
#texttitle {
  font-size: 20px;
}
