.block.descript{
    padding-bottom: 0;
}
table {
    margin-top: 20px;
}
table > tbody > tr > td {
    width: 25%
}
table > tbody > tr:nth-child(2n) > td {
    padding: 10px 10px 20px;
    vertical-align: top;
}
.roster > tbody > tr:nth-child(2n) > td {
    padding: 5px 0 20px 5px;
}
.picture {
    position: relative;
}
.root-staff-banner-wrapper {
    overflow: hidden;
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 85px;
    height: 88px;
}
.root-staff-banner {
    background: #365d97;
    color: #decb4b;
    font-family: Courier New, monospace;
    font-weight: bold;
    left: -5px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    top: 44px;
    width: 120px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    transform: rotate(-45deg);
}
.phototwo {
    display: none;
}
table > tbody > tr > td:hover .photoone {
    display: none;
}
table > tbody > tr > td:hover .phototwo {
    display: block;
}
.descript .name {
    font-weight: 600;
}
.roster .name {
    font-weight: 300;
}
.officehours {
    font-size: 14px;
}
.description {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
#past-officers {
    margin-top: 20px;
}
.name > a {
    color: rgba(20, 145, 232, 0.9);
}
.name > a:hover {
    color: rgba(20, 145, 232, 0.65);
}
