.block {
    padding-bottom: 0;
}
table {
    margin-top: 20px;
}
table > tbody > tr > td {
    width: 25%
}
table > tbody > tr:nth-child(2n) > td {
    padding: 10px 10px 20px;
    vertical-align: top;
}
.roster > tbody > tr:nth-child(2n) > td {
    padding: 5px 0 20px 5px;
}
.phototwo {
    display: none;
}
table > tbody > tr > td:hover .photoone {
    display: none;
}
table > tbody > tr > td:hover .phototwo {
    display: block;
}
.descript .name {
    font-weight: 600;
}
.roster .name {
    font-weight: 300;
}
.officehours {
    font-size: 14px;
}
.description {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}
#past-officers {
    margin-top: 20px;
}
.name > a {
    color: rgba(20, 145, 232, 0.9);
}
.name > a:hover {
    color: rgba(20, 145, 232, 0.65);
}
