/* Current Politburo Page */
.politburo {
    margin-top: 20px;
}
.politburo > tbody > tr > td:nth-child(1) {
    vertical-align: top;
}
.politburo > tbody > tr > td:nth-child(2) {
    padding: 10px 20px;
    background-color: white;
}
.politburo > tbody > tr {
    margin-top: 20px;
}
.politburo > tbody > tr > td > .title {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px 5px;
}
.politburo > tbody > tr > td > .name {
    font-style: italic;
    font-size: 15px;
}
.politburo > tbody > tr > td > .email {
    font-weight: 300;
    font-size: 14px;
    margin: 5px 0 10px;
}
.politburo > tbody > tr > td > .text {
    font-size: 14px;
}

/* Former Politburo Page */
.pbroster {
    background: white;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #CCC;
}
.pbroster > tbody > tr:nth-child(2n+1) > td {
    width: 25%;
}
.pbroster > tbody > tr > td > .title {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
}
.pbroster > tbody > tr > td > .name {
    font-size: 14px;
    font-weight: 300;
}
.pbroster > tbody > tr:nth-child(2) > td > .name {
    margin-bottom: 20px;
}
