{% extends "base.html" %}
{% block title %}404 Not Found{% endblock %}
{% block content %}
<div class="hero">
  <div class="hero-body">
    <h1 class="title">404 Not Found</h1>
  </div>
</div>

<div class="container">
  <pre>
     _  _    ___  _  _     _   _       _     _____                     _
    | || |  / _ \| || |   | \ | | ___ | |_  |  ___|__  _   _ _ __   __| |
    | || |_| | | | || |_  |  \| |/ _ \| __| | |_ / _ \| | | | '_ \ / _` |
    |__   _| |_| |__   _| | |\  | (_) | |_  |  _| (_) | |_| | | | | (_| |
       |_|  \___/   |_|   |_| \_|\___/ \__| |_|  \___/ \__,_|_| |_|\__,_|
  </pre>
</div>
<div class="container">
  <pre>
         _______________________________________
        / Sorry, we couldn’t find what you were \
        \ looking for.                          /
         ---------------------------------------
                \   ^__^
                 \  (xx)\_______
                    (__)\       )\/\
                     U  ||----w |
                        ||     ||
  </pre>
</div>
{% endblock %}
{# vim: set et sw=2: #}
