{% extends "base.html" %}
{% block title %}Create or Update Officer{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="content box">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li>{{ message.tags|upper }}: {{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <h1>Create or Update Officer</h1>
          <p>Current semester: {{ semester }}</p>
          <form enctype="multipart/form-data" method="post" action="{% url 'add-officer' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update or Create</button>
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{# vim: set et ts=2 sw=2 tw=200: #}
