{% extends "base.html" %}
{% block title %}Alumni{% endblock %}
{% block content %}
<div class="hero">
  <div class="hero-body">
    <h1 class="title">Alumni</h1>
  </div>
</div>

<div class="container">
  <div class="content">
    <p>
    CSUA was founded in 1974, and has gone through many generations of
    students.
    Alumni support the CSUA by connecting students with companies and
    opportunities.
    Alumni also come to GM2 to present advice for the current generation of
    CSUA.
    </p>
    <p>
    CSUA helps connect the alumni body by holding an annual alumni lunch.
    </p>
    <a class="button is-link" href="https://goo.gl/forms/Aj1LBoi3VAIkXG753">
      Alumni: Get connected
    </a>
  </div>
</div>
{% endblock %}
{# vim: set sw=2 ts=2 et: #}
