{% extends "base.html" %}
{% block title %}Verify Account{% endblock %}
{% block css_file %}newuser.css{% endblock %}
{% block content %}
<div class="header">
  Verify Account
</div>
<br/>
<div class="block" id="top">
Verify your CSUA account here
</div>
<br/>
<div class='block' id='errors' style='display:none'></div>
<br/>
<form action="/login/verify/" onsubmit="return validateForm()" method="post">
  {% csrf_token %}
  <div class='block'>
    <table>
      <tr><td width=50%>Student ID:</td><td align='center'><input name='student_id' type='number'/><br/></td></tr>
      <tr><td width=50%>Username :</td><td align='center'><input name='username' type='text'/><br/></td></tr>
      <tr><td width=50%>Password:</td><td align='center'><input name='password' type='password'/><br/></td></tr>
      <tr><td width=50%>Confirm Password:</td><td align='center'><input name='password_confirm' type='password'/><br/></td></tr>
    </table>
  <input type='submit' value='Submit'/>
  </div>
</form>

<script type='text/javascript'>

function validateForm(){
  var student_id = document.getElementsByName("student_id")[0].value;
  var username = document.getElementsByName("username")[0].value;
  var password = document.getElementsByName("password")[0].value;
  var password_confirm = document.getElementsByName("password_confirm")[0].value;
  if (student_id == "") {
      errors.push("Field 'Student ID' is required.")
  }
  if (username == "") {
    errors.push("Field 'Username' is required.")
  }
  if (username.indexOf(" ") > -1) {
    errors.push("Username cannot contain spaces.")
  }
  if (password == "") {
    errors.push("Field 'Password' is required.")
  }
  if (password != password_confirm) {
    errors.push("Passwords do not match.")
  }
  if (errors.length == 0) {
    return true
  }
  var error_string = 'Errors:<ul>';
  for (var i = 0; i < errors.length; i++) {
    error_string += '<li>' + errors[i] + '</li>';
  }
  error_string += '</ul>';
  document.getElementById("errors").innerHTML = error_string;
  document.getElementById("errors").style.display = '';
  window.location.href = "#top";
  return false;
}
</script>

{% endblock %}