<html>
	<head>
		<title>{% block title %}DEFAULT{% endblock %} | CSUA</title>
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/common.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/{% block css_file %}{% endblock %}"/>
	</head>
	<body>
		<nav id="navbar">
			<div id="navbarcontainer">
				<div id="logo">
					<a href="/">
						<img src="{{ STATIC_URL }}images/pic.png">
					</a>
				</div>
			</div>
		</nav>
		<div id="content">
			<div class="block" id="pagetitle">
				<div class="header" id="headertitle">{% block headertitle %}{% endblock %}</div>
				<div class="text" id="texttitle">{% block texttitle %}{% endblock %}</div>
			</div>
			{% block content %}{% endblock %}
			<div style="clear: both;"></div>
		</div>
		<footer>
		</footer>
	</body>
</html>
{# vim: set noet ts=4 sw=4: #}
