{% extends "base.html" %}
{% block title %}Computers{% endblock %}
{% block css_file %}index.css{% endblock %}
{% block content %}
<div class='box content'>
  <h1>CSUA Spetssvyaz Backdoor</h1>
  <table class="table">
    <th>
      Computer
    </th>
    <th>
      Status
    </th>
    <th>
      User
    </th>
    <th>
      Realname
    </th>
    <th>
      Time Spent
    </th>
    {% for computer in computers %}
    <tr bgcolor='{% if computer.user is not None %}red{% else %}lightgreen{% endif %}'>
      <td>
        <strong>{{computer.hostname}}</strong>
      </td>
      <td>
	{% if computer.user is not None %}
        Occupied
	{% else %}
        Available
        {% endif %}
      </td>
      {% if computer.user is not None %}
      <td>
        {% if computer.twitchUser != None %}
        <a href="http://twitch.tv/{{ computer.twitchUser }}" id="twitch">
          {{ computer.user.username }}
          <img src="/static/images/icons/twitch.png" width="24"></img>
        </a>
        <span id="{{user.username}}" class="twitch"></span>
        {% else %}
        {{computer.user.username}}
        {% endif %}
      </td>
      <td>
        {{computer.user.realname}}
      </td>
      <td>
        {{computer.time}}
      </td>
      {% endif %}
    </tr>
    {% endfor%}
  </table>
  <br/>
  <table class="table">
    <th>
      User
    </th>
    <th>
      Time Spent
    </th>
    {% for user in users %}
    <tr>
      <td>
        {% if user.twitch != None %}
        <a href="http://twitch.tv/{{ user.twitch }}" id="twitch">
          <strong>{{user.username}}</strong><img src="/static/images/icons/twitch.png" width="24"></img>
        </a>
        <span id="{{user.username}}" class="twitch"></span>
        {% else %}
        <strong>{{user.username}}</strong>
        {% endif %}
      </td>
      <td>
        {{user.time}}
      </td>
    </tr>
    {% endfor%}
  </table>
  {% endblock %}
</div>
