{% extends "base.html" %}
{% block title %}Constitution{% endblock %}
{% block css_file %}constitution.css{% endblock %}
{% block content %}
	<div class="block" id="pagetitle">
		<div class="header" id="headertitle">Constitution</div>
		<br>
	</div>
	<div class="block">
        <div class="section">
            <div class="article">Article I.</div>
            <div class="title">Name</div>
            <div class="text">
                This organization shall be hereinafter referred to as the Computer Science
				Undergraduate Association, also known as the CSUA.
            </div>
        </div>
        <div class="section">
            <div class="article">Article II.</div>
            <div class="title">Purpose</div>
            <div class="text">
                The purposes of this organization are: to represent the undergraduate computer science
				student body in dealings with the University of California at Berkeley, its
				representatives, and any other appropriate organization; to provide a forum for the
				personal interaction of persons involved in the computer sciences; to promote
				knowledge of and interest in the computer sciences; and to raise funds to accomplish
				these goals.
            </div>
        </div>
        <div class="section">
            <div class="article">Article III.</div>
            <div class="title">Membership</div>
            <div class="subsection">A. Active Membership</div>
            <div class="text">
                Any currently registered undergraduate student of the University of California at
				Berkeley is eligible for active membership in the CSUA.
            </div>
            <div class="subsection">B. Associate Membership</div>
            <div class="text">
                Any student, staff, faculty member of the University of California at Berkeley or former
				active member may hold associate membership in the CSUA.
            </div>
            <div class="subsection">C. Criteria</div>
            <div class="text">
                Only currently registered students, faculty and staff may be active members in a
				registered student organization. Only active members may vote or hold office. <br>
				We will not haze according to California State Law.
				We will not restrict membership based upon race, color, national origin, religion, sex,
				gender identity, pregnancy (including pregnancy, childbirth, and medical conditions
				related to pregnancy or childbirth), physical or mental disability, medical condition
				(cancer related or genetic characteristics), ancestry, marital status, age, sexual
				orientation, citizenship, or service in the uniformed services (including membership,
				application for membership, performance of service, application for service, or obligation
				for service in the uniformed services).
            </div>
            <div class="subsection">D. Effective Time of Membership</div>
            <div class="text">
                An applicant's membership is not effective until after the meeting at which the applicant
				joins.
            </div>
        </div>
        <div class="section">
            <div class="article">Article IV.</div>
            <div class="title">Officers</div>
            <div class="subsection">A. Types</div>
            <div class="text">
                The organization shall have seven elected offices, named President, Vice President,
				Treasurer, Secretary, Librarian, Events Officer, and Alumni Relations Officer.
            </div>
            <div class="subsection">B. Qualifications</div>
            <div class="text">
                Only active members of the Computer Science Undergraduate Association as defined in
				Article III, Section A shall be allowed to run for and hold any of the aforementioned
				offices in the Computer Science Undergraduate Association.
            </div>
            <div class="subsection">C. Term of Office</div>
            <div class="subpoint">1. Assumption of Office</div>
            <div class="subtext">
                After their election, the entering officers shall assume office after the last day of the
				semester, at which point the exiting officers shall vacate their respective offices.
            </div>
            <div class="subpoint">2. Winter and Summer Breaks</div>
            <div class="subtext">
                If any officer is unable to perform the duties of his or her respective office during the
				semester break immediately following elections, then that officer shall appoint an interim
				replacement.
            </div>
            <div class="subpoint">3. Resignation or Removal from Office</div>
            <div class="subtext">
                Officers who resign from office, no longer meet the qualifications set above, or are
				deemed unfit to serve in their respective offices shall vacate office immediately upon
				notice of resignation, loss of qualification, or removal from office.
            </div>
            <div class="subsection">D. Duties</div>
            <div class="subpoint">President</div>
            <div class="subtext">
                The President shall:
                <div class="subsubtext">
                <li> chair, or appoint the chair for, the meetings of the CSUA; </li>
                <li> be responsible for the execution of mandates reflecting organization policy
					as determined by the organization’s active members and its officers in General
					and Politburo Executive Meetings; </li>
                <li> be primarily responsible for representing the CSUA in its duties as the
					undergraduate computer science students’ representative body; </li>
                <li> maintain contact and communication with the University, its faculty
					members responsible for teaching computer science, and any other relevant
					organization; </li>
                <li> appoint chairs for the various committees, subject to confirmation by the
					Politburo; </li>
                <li> organize and orchestrate the passing on of knowledge from one
					generation of Politburo to the next; </li>
                <li> establish contact with other student organizations for the purpose of
					coordinating interclub events; </li>
                <li> have any other duties and/or responsibilities set forth in this Constitution. </li>
                </div>
            </div>
            <div class="subpoint">Vice President of Industrial Relations</div>
            <div class="subtext">
                The VP of Industrial Relations shall:
                <div class="subsubtext">
                <li> liaise with companies and attain sponsors for CSUA’s external events; </li>
                <li> generate industrial interest in the CSUA; </li>
                <li> liaise with CSUA alumni; </li>
                <li> coordinate speakers from alumni or industry; </li>
                <li> manage infosessions for CSUA; </li>
                <li> manage the jobs board/list-serv; </li>
                <li> manage and administer the resume booklet; </li>
                <li> assist the President in execution of duties; </li>
                <li> handle requests by Internal Events Coordinator for a speaker for an
					internal event; </li>
                <li> have any other duties and/or responsibilities set forth in this Constitution. </li>
                </div>
            </div>
            <div class="subpoint">Vice President of Technology</div>
            <div class="subtext">
                The VP of Technology shall:
                <div class="subsubtext">
                <li> administer and maintain the technical resources of the CSUA, including
					but not limited to our list-servs; </li>
                <li> be the chief administrator of computer equipment maintained by the CSUA; </li>
                <li> be head of our root staff; </li>
                <li> be our liaison with all campus IT and technical services; </li>
                <li> solve or delegate the solving of technical issues should any arise; </li>
                <li> have any other duties and/or responsibilities set forth in this Constitution. </li>
				</div>
            </div>
            <div class="subpoint">Secretary/Treasurer</div>
            <div class="subtext">
                The Secretary/Treasurer shall:
                <div class="subsubtext">
                <li> take minutes at Politburo and General meetings; </li>
                <li> manage our library of computer science books; </li>
                <li> maintain all necessary financial and non-financial records of the
					organization; </li>
                <li> administer the CSUA's physical resources; </li>
                <li> maintain or delegate the maintenance of the CSUA's facility resources; </li>
                <li> maintain the CSUA's monetary resources; </li>
                <li> maintain a publicly available record of all financial transactions,
                    liabilities, and credits relating to the CSUA; </li>
                <li> report on the financial status of the CSUA to its members and officers; </li>
                <li> obtain financial agency power with the ASUC as soon as possible after
                    election; </li>
                <li> obtain primary signatory power with the ASUC as soon as possible after
                    election; </li>
                <li> have any other duties and/or responsibilities set forth in this
                    Constitution. </li>
                </div>
            </div>
            <div class="subpoint">Outreach Chair</div>
            <div class="subtext">
                The Outreach Chair shall:
                <div class="subsubtext">
                <li> maintain or delegate the maintenance of the CSUA's website; </li>
                <li> maintain the content of the CSUA's website; </li>
                <li> publicize our services to the general student body; </li>
                <li> be responsible for publicizing all internal and external events to the
                    club membership and the general student body, respectively; </li>
                <li> promote interaction between current students and alumni; </li>
                <li> recruit new members; </li>
                <li> design and distribute (or delegate) all publication materials for the CSUA; </li>
                <li> have any other duties and/or responsibilities set forth in this
                    Constitution. </li>
                </div>
            </div>
            <div class="subpoint">External Events Coordinator</div>
            <div class="subtext">
                The External Events Coordinator shall:
                <div class="subsubtext">
                <li> plan and prepare all logistics for each external event; </li>
                <li> be or appoint the day-of event coordinator to execute the event and
                    handle any issues that might arise; </li>
                <li> have any other duties and/or responsibilities set forth in this
                    Constitution. </li>
                An external event is defined as an event sponsored by a company.
                </div>
            </div>
            <div class="subpoint">Internal Events Coordinator</div>
            <div class="subtext">
                The Internal Events Coordinator shall:
                <div class="subsubtext">
                <li> create fun internal events; </li>
                <li> plan and prepare all logistics for each internal event; </li>
                <li> be or appoint the day-of event coordinator to execute the event and
                    handle any issues that might arise; </li>
                <li> submit a request to VP Indrel to obtain a speaker for an internal event
                    should a speaker be required; </li>
                <li> have any other duties and/or responsibilities set forth in this
                    Constitution. </li>
                An internal event is defined as an event that does not have a company
                sponsor. This includes interclub events, intraclub events, alumni events,
                and recruitment events.
                </div>
            </div>
        </div>
        <div class="section">
            <div class="article">Article V.</div>
            <div class="title">Committees</div>
            <div class="subsection">The Politburo</div>
            <div class="text">
                The Politburo shall consist of all elected officers of the CSUA. It shall hold at least three
				open meetings a semester while school is in regular session. The Politburo shall
				determine temporary policies of the CSUA. Politburo decisions may be overturned by a
				two-thirds vote of the general membership at a general meeting.
            </div>
            <div class="subsection">Other Committees</div>
            <div class="text">
                Other committees may be created or dissolved at the direction of either the Politburo, or
				by a majority vote of the general membership at a General Meeting. Directorships or
				other non-politburo positions shall be appointed by the president and confirmed by the
				majority of the politburo.
            </div>
        </div>
        <div class="section">
            <div class="article">Article VI.</div>
            <div class="title">Election of Officers</div>
            <div class="subsection">A. Time and Place of Elections</div>
            <div class="text">
                Officers shall be selected each semester by a majority vote of the attending General
				Membership at a General Meeting held no less than two weeks before the last day of
				instruction, announced no less than one week in advance, and held at a time and place
				that is considered generally accessible as well in compliance with ASUC regulations
				concerning accessibility of ASUC sponsored activities.
            </div>
            <div class="subsection">B. Procedure</div>
            <div class="text">
                The chair shall appoint an election officer, who shall not vote or run for office. The
				election officer must be a member. Members shall be nominated until no more are
				willing and eligible. No person shall be nominated who is not willing to serve upon their
				election, and no person not present can be nominated for an office without his or her
				written consent being presented at the meeting. If only one candidate is in nomination
				voting may be done by acclamation. Otherwise voting shall be done by secret ballot of
				active members. A ballot that is blank or otherwise does not uniquely identify a
				nominated candidate shall not be counted. <br>
				If there is at any time a majority for a candidate, that candidate wins. If there is no
				majority and there are two candidates the election officer shall cast the deciding vote. If
				there is no majority and there are three candidates, the one with the fewest votes shall
				be eliminated. If there is a tie among those with the fewest votes the election officer
				shall select one to be eliminated. <br>
				If there are more than three candidates, three shall be selected to proceed to a runoff
				round as follows. Select as many candidates as possible for the runoff, starting from
				those with the highest vote totals, until it is impossible to proceed without selecting more
				than three or discriminating between candidates who received the same number of
				votes. If it is not possible to select any candidates in this way because there is a tie for
				first, the election officer shall cast a vote for one of the tied first-place candidates. If
				there are then fewer than three candidates selected for the runoff round, a new vote
				shall be held among those candidates not already chosen to select the remaining
				candidates.
            </div>
        </div>
        <div class="section">
            <div class="article">Article VII.</div>
            <div class="title">Removal and Replacement of Officers</div>
            <div class="subsection">A. Removal</div>
            <div class="text">
                An officer may be removed from office in one of the following ways:
            </div>
            <div class="subtext">
                <li> In the event of extended unexplained absence of an
					officer, the office may be declared vacant by a majority of
					the remaining officers. </li>
                <li> Any officer no longer qualified to hold office shall be
					removed. </li>
                <li> A unanimous vote of the other officers in office may
					remove an officer from office. </li>
                <li> In the event of a vacancy of an office the President will be
					responsible for ensuring that the obligations of that office are
					fulfilled until a replacement has been made. </li>
            </div>
            <div class="subsection">B. Replacement</div>
            <div class="text">
				In case of removal or resignation from office of one of the elected officers except the
				President, the President shall appoint a successor. All such appointments to office must
				be confirmed by a majority vote of the Politburo at the next announced Politburo
				meeting. As stated in Article IV, in the event the office of President is vacated for
				whatever reason, the Vice-President shall either assume the office of president without
				need for confirmation and appoint a successor to be approved by a majority vote of a
				quorum of the Politburo, or, with the approval of a majority vote of the Politburo at the
				next announced Politburo meeting, appoint an eligible member to assume the office of
				president. <br>
				If both the offices of President and Vice-President are vacated in such a way to obstruct
				the aforementioned order of succession, then the remaining officers, in the order of
				Treasurer, Secretary, Librarian, Events Officer, and Alumni relations officer may either
				assume the office of President or, with the approval of the general membership, appoint
				a new President who will then fill any remaining open offices. <br>
				If all offices are made vacant, then the Faculty Advisor shall call and chair a general
				meeting to elect new officers.
            </div>
        </div>
        <div class="section">
            <div class="article">Article VIII.</div>
            <div class="title">Meetings</div>
            <div class="subsection">A. Procedure</div>
            <div class="text">
                All meetings will run under Parliamentary procedure or some subset of the same. All
				questions, unless otherwise noted by this Constitution, shall require a majority vote.
				Only active members of the organization are eligible to vote. All meetings shall be held
				at reasonable places and times. <br>
				Members may vote and run by proxy.
            </div>
            <div class="subsection">B. General Meetings</div>
            <div class="text">
                General Meetings shall be held three times a semester while school is in regular
				session, and shall be publicly announced no less than a week in advance.
            </div>
            <div class="subsection">C. Politburo Meetings</div>
            <div class="text">
                Politburo Meetings may be called by the President or by one-third of the Politburo. At
				least three meetings a semester while school is in regular session must be held open to
				the membership of the CSUA. Other meetings may be closed at the request of one-third
				of those members attending or in the event of disciplinary actions. In such a case, a
				listing of general topics discussed will be made available within one week after the
				meeting.
            </div>
            <div class="subsection">D. Committee Meetings</div>
            <div class="text">
                Committee meetings will be run under the same rules as the General Meetings.
				Meetings will be open to attendance by all members.
            </div>
        </div>
        <div class="section">
            <div class="article">Article IX.</div>
            <div class="title">Bylaws and Policies</div>
            <div class="subsection">A. Bylaws</div>
            <div class="text">
                Further guidelines pertaining to the operation of the CSUA not specifically set forth in
				the Constitution shall be contained in a set of publicly-available bylaws. Bylaws may be
				proposed by any active member of the CSUA, and must be approved by a majority vote
				of the Politburo.
            </div>
            <div class="subsection">B. Policies</div>
            <div class="text">
                Regulations pertaining to conduct of CSUA members in CSUA activities and in use of
				CSUA resources shall be contained in a set of publicly-available policies. Politburo
				members may formulate and implement interim policies in the execution of their duties,
				subject to later approval of a majority of the Politburo at the next Politburo meeting.
            </div>
            <div class="subsection">C. Amendments to Bylaws and Policies</div>
            <div class="text">
                Amendments to bylaws and policies may be proposed by any active member, and must
				be approved by a majority vote of the Politburo. Such amendments may be overturned
				by a two-thirds vote of the general membership at a general meeting.
            </div>
        </div>
        <div class="section">
            <div class="article">Article X.</div>
            <div class="title">Amendment</div>
            <div class="text">
                Any amendment to this constitution must be approved by a two-thirds majority of a
				general meeting convened with at least one week prior prominent public notice of the
				intent to amend the constitution. All amendments, unless otherwise noted therein,
				become effective immediately upon adoption. <br>
                As a special exception, the officers of the CSUA may, for the sole purpose of bringing
				the constitution into compliance with ASUC and OSL requirements, amend the
				constitution by changing emphasized text. All such changes must be publicly
				announced within one week. <br>
                <i> All amendments, additions or deletions to this document must be filed with the LEAD
					Center in 432 Eshleman Hall. </i>
            </div>
        </div>
        <div class="section">
            <div class="article">Article XI.</div>
            <div class="title">Dissolution</div>
            <div class="text">
                Dissolution of the Computer Science Undergraduate Association may be approved by a
				two-thirds majority of general meeting convened during instruction with at least two
				weeks notice of the intent to dissolve the CSUA. In the event of dissolution, to the extent
				permitted by campus and ASUC regulations, all remaining assets shall be donated to a
				campus computing organization which allows free access to all University of California
				at Berkeley students. <br>
                If the organization is ASUC or GA Sponsored, all unspent ASUC funds shall return to
				the ASUC; all Graduate Assembly funds shall return to the Graduate Assembly. If the
				organization is defunct for five (5) or more years, any privately obtained funds (including
				any funds left in miscellaneous accounts) shall be donated to the ASUC. In the event
				that the designated nonprofit organization no longer exists or has ceased to be a
				nonprofit, then the unspent funds shall be donated to the ASUC.
            </div>
        </div>
    </div>
{% endblock %}
