{% extends "base_with_hero.html" %}
{% load markdown_deux_tags %}
{% block title %}Constitution{% endblock %}

{% block hero %}
{% include "hero_with_bg_img.html" with title="Constitution" subtitle="Constitution of the Computer Science Undergraduate Association" size="is-small" %}
{% endblock hero %}

{% block page_content %}
<div class="content box">
{% markdown %}

## Article I. Name

This organization shall be hereinafter referred to as the Computer Science Undergraduate Association, also known as the CSUA.


## Article II. Purpose

The purposes of this organization are: to represent the undergraduate computer science student body in dealings with the University of California at Berkeley, its representatives, and any other appropriate organization; to provide a forum for the personal interaction of persons involved in the computer sciences; to promote knowledge of and interest in the computer sciences; and to raise funds to accomplish these goals.


## Article III. Membership


### A. Active Membership

Any currently registered undergraduate student of the University of California at Berkeley is eligible for active membership in the CSUA.


### B. Associate Membership

Any student, staff, faculty member of the University of California at Berkeley or former active member may hold associate membership in the CSUA.


### C. Criteria

Only currently registered students, faculty and staff may be active members in a registered student organization. Only active members may vote or hold office. 

We will not haze according to California State Law. We will not restrict membership based upon race, color, national origin, religion, sex, gender identity, pregnancy (including pregnancy, childbirth, and medical conditions related to pregnancy or childbirth), physical or mental disability, medical condition (cancer related or genetic characteristics), ancestry, marital status, age, sexual orientation, citizenship, or service in the uniformed services (including membership, application for membership, performance of service, application for service, or obligation for service in the uniformed services).


### D. Effective time of membership

An applicant's membership is not effective until after the meeting at which the applicant joins.


### E. Member Support

This organization agrees to adhere to the guidelines described in the [RSO Sexual Violence and Sexual Harassment (SVSH) Prevention and Response Policy](https://docs.google.com/document/d/1ex7Won3HvV1lCDYtMSUIkHWaRrl-u0Biu8dMjPdKtIs/edit) which aligns with the [University of California’s Sexual Violence and Sexual Harassment Policy](https://policy.ucop.edu/doc/4000385/SVSH). This RSO agrees to send at least one representative to participate in a Path to Care training annually. RSO will also follow the SVSH prevention and response guidelines if and when SVSH harm occurs within the organization.


## Article IV. Officers


### A. Types

The organization shall have seven elected offices, named President, Vice President of Technology, Vice President of Industry Relations, Secretary/Treasurer, External Events Coordinator, Internal Events Coordinator, and Outreach Chair.


### B. Qualifications

Only active members of the Computer Science Undergraduate Association as defined in Article III, Section A shall be allowed to run for and hold any of the aforementioned offices in the Computer Science Undergraduate Association.


### C. Term of Office


#### **1. Assumption of Office**

After their election, the entering officers shall assume office after the last day of the semester, at which point the existing officers shall vacate their respective offices.


#### **2. Winter and Summer Breaks**

If any officer is unable to perform the duties of his or her respective office during the semester break immediately following elections, then that officer shall appoint an interim replacement.


#### **3. Resignation or Removal from Office**

Officers who resign from office, no longer meet the qualifications set above, or are deemed unfit to serve in their respective offices shall vacate office immediately upon notice of resignation, loss of qualification, or removal from office.


### D. Duties


#### **President**

The President shall:



* chair, or appoint the chair for, the meetings of the CSUA
* be responsible for the execution of mandates reflecting organization policy as determined by the organization’s active members and its officers in General and Politburo Executive Meetings
* be primarily responsible for representing the CSUA in its duties as the undergraduate computer science students’ representative body
* maintain contact and communication with the University, its faculty members responsible for teaching computer science, and any other relevant organization
* appoint chairs for the various committees, subject to confirmation by the Politburo
* organize and orchestrate the passing on of knowledge from one generation of Politburo to the next
* establish contact with other student organizations for the purpose of coordinating interclub events
* have any other duties and/or responsibilities set forth in this Constitution.


#### **Vice President of Technology**

The VP Tech shall: 



* administer and maintain the technical resources of the CSUA, including but not limited to our list-servs
* be the chief administrator of computer equipment maintained by the CSUA
* be head of our root staff
* be our liaison with all campus IT and technical services
* solve or delegate the solving of technical issues should any arise
* have any other duties and/or responsibilities set forth in this Constitution.


#### **Vice President of Industry Relations**

The VP of Industry Relations shall:



* liaise with companies and attain sponsors for CSUA’s external events
* generate industry interest in the CSUA
* liaise with CSUA alumni
* coordinate speakers from alumni or industry; manage infosessions for CSUA
* manage the jobs board/list-serv; manage and administer the resume booklet
* assist the President in execution of duties
* handle requests by Internal Events Coordinator for a speaker for an internal even
*  have any other duties and/or responsibilities set forth in this Constitution.


#### **Secretary/Treasurer**

The Secretary/Treasurer shall: 



* take minutes at Politburo and General meetings
* manage our library of computer science books
* maintain all necessary financial and non-financial records of the organization
* administer the CSUA’s physical resources
* maintain or delegate the maintenance of the CSUA’s facility resources
* maintain the CSUA’s monetary resources
* maintain a publicly available record of all financial transactions, liabilities, and credits relating to the CSUA
* report on the financial status of the CSUA to its members and officers
* obtain financial agency power with the ASUC as soon as possible after election
* obtain primary signatory power with the ASUC as soon as possible after election have any other duties and/or responsibilities set forth in this Constitution.


#### **External Events Coordinator**

The External Events Coordinator shall: 



* plan and prepare all logistics for each external event
* be or appoint the day-of event coordinator to execute the event and handle any issues that might arise
* have any other duties and/or responsibilities set forth in this Constitution. An external event is defined as an event sponsored by a company.


#### **Internal Events Officer**

The Internal Events Officer shall: 



* create fun internal events
* plan and prepare all logistics for each internal event
* be or appoint the day-of event coordinator to execute the event and handle any issues that might arise
* submit a request to VP Indrel to obtain a speaker for an internal event should a speaker be required
* have any other duties and/or responsibilities set forth in this Constitution. 

An internal event is defined as an event that does not have a company sponsor. This includes interclub events, intraclub events, alumni events, and recruitment events.


#### **Outreach Chair**

The Outreach Chair shall: 



* maintain or delegate the maintenance of the CSUA’s website
* maintain the content of the CSUA’s website
* publicize our services to the general student body
* be responsible for publicizing all internal and external events to the club membership and the general student body, respectively
* promote interaction between current students and alumni
* recruit new members
* design and distribute (or delegate) all publication materials for the CSUA
* have any other duties and/or responsibilities set forth in this Constitution.


## Article V. Committees


### The Politburo

The Politburo shall consist of all elected officers of the CSUA. It shall hold at least three open meetings a semester while school is in regular session. The Politburo shall determine temporary policies of the CSUA. Politburo decisions may be overturned by a two-thirds vote of the general membership at a general meeting.


### Other Committees

Other committees may be created or dissolved at the direction of either the Politburo, or by a majority vote of the general membership at a General Meeting. Directorships or other non-politburo positions shall be appointed by the president and confirmed by the majority of the politburo.


## Article VI. Election of Officers


### A. Time and Place of Elections

Officers shall be selected each semester by a majority vote of the attending General Membership at a General Meeting held no less than two weeks before the last day of instruction, announced no less than one week in advance, and held at a time and place that is considered generally accessible as well in compliance with ASUC regulations concerning accessibility of ASUC sponsored activities.


### B. Procedure

The chair shall appoint an election officer, who shall not vote or run for office. The election officer must be a member. Members shall be nominated until no more are willing and eligible. No person shall be nominated who is not willing to serve upon their election, and no person not present can be nominated for an office without his or her written consent being presented at the meeting. If only one candidate is in nomination voting may be done by acclamation. Otherwise voting shall be done by secret ballot of active members. A ballot that is blank or otherwise does not uniquely identify a nominated candidate shall not be counted.

If there is at any time a majority for a candidate, that candidate wins. If there is no majority and there are two candidates the election officer shall cast the deciding vote. If there is no majority and there are three candidates, the one with the fewest votes shall be eliminated. If there is a tie among those with the fewest votes the election officer shall select one to be eliminated.

If at any time a majority of the votes abstain, the position shall remain vacant and an election to fill the position shall be hosted at the beginning of the next semester, no later than two weeks after the first day of instruction.

If there are more than three candidates, three shall be selected to proceed to a runoff round as follows. Select as many candidates as possible for the runoff, starting from those with the highest vote totals, until it is impossible to proceed without selecting more than three or discriminating between candidates who received the same number of votes. If it is not possible to select any candidates in this way because there is a tie for first, the election officer shall cast a vote for one of the tied first-place candidates. If there are then fewer than three candidates selected for the runoff round, a new vote shall be held among those candidates not already chosen to select the remaining candidates.


## Article VII. Removal and Replacement of Officers


### A. Removal

An officer may be removed from office in one of the following ways:



* In the event of extended unexplained absence of an officer, the office may be declared vacant by a majority of the remaining officers.
* Any officer no longer qualified to hold office shall be removed.
* A unanimous vote of the other officers in office may remove an officer from office.
* In the event of a vacancy of an office the President will be responsible for ensuring that the obligations of that office are fulfilled until a replacement has been made.


### B. Replacement

In case of removal or resignation from office of one of the elected officers except the President, the President shall appoint a successor. All such appointments to office must be confirmed by a majority vote of the Politburo at the next announced Politburo meeting. As stated in Article IV, in the event the office of President is vacated for whatever reason, the Vice President of Technology shall either assume the office of President without need for confirmation and appoint a successor to be approved by a majority vote of a quorum of the Politburo, or, with the approval of a majority vote of the Politburo at the next announced Politburo meeting, appoint an eligible member to assume the office of President.

If both the offices of President and Vice President of Technology are vacated in such a way to obstruct the aforementioned order of succession, then the remaining officers, in the order of Vice President of Industry Relations, Secretary/Treasurer, External Events Coordinator, Internal Events Coordinator, and Outreach Chair, may either assume the office of President or, with the approval of the general membership, appoint a new President who will then fill any remaining open offices. 

If all offices are made vacant, then the Faculty Advisor shall call and chair a general meeting to elect new officers.


## Article VIII. Meetings


### A. Procedure

All meetings will run under Parliamentary procedure or some subset of the same. All questions, unless otherwise noted by this Constitution, shall require a majority vote. Only active members of the organization are eligible to vote. All meetings shall be held at reasonable places and times.

Members may vote and run by proxy.


### B. General Meetings

General Meetings shall be held three times a semester while school is in regular session, and shall be publicly announced no less than a week in advance.


### C. Politburo Meetings

Politburo Meetings may be called by the President or by one-third of the Politburo. At least three meetings a semester while school is in regular session must be held open to the membership of the CSUA. Other meetings may be closed at the request of one-third of those members attending or in the event of disciplinary actions. In such a case, a listing of general topics discussed will be made available within one week after the meeting.


### D. Committee Meetings

Committee meetings will be run under the same rules as the General Meetings. Meetings will be open to attendance by all members.


## Article IX. Bylaws and Policies


### A. Bylaws

Further guidelines pertaining to the operation of the CSUA not specifically set forth in the Constitution shall be contained in a set of publicly-available bylaws. Bylaws may be proposed by any active member of the CSUA, and must be approved by a majority vote of the Politburo.


### B. Policies

Regulations pertaining to conduct of CSUA members in CSUA activities and in use of CSUA resources shall be contained in a set of publicly-available policies. Politburo members may formulate and implement interim policies in the execution of their duties, subject to later approval of a majority of the Politburo at the next Politburo meeting.


### C. Amendments to Bylaws and Policies

Amendments to bylaws and policies may be proposed by any active member, and must be approved by a majority vote of the Politburo. Such amendments may be overturned by a two-thirds vote of the general membership at a general meeting.


## Article X. Amendment

Any amendment to this constitution must be approved by a two-thirds majority of a general meeting convened with at least one week prior prominent public notice of the intent to amend the constitution. All amendments, unless otherwise noted therein, become effective immediately upon adoption. 

As a special exception, the officers of the CSUA may, for the sole purpose of bringing the constitution into compliance with ASUC and OSL requirements, amend the constitution by changing emphasized text. All such changes must be publicly announced within one week. 

All amendments, additions or deletions to this document must be filed with the LEAD Center at lead@berkeley.edu, or LEAD Center at 432 Eshleman Hall.


## Article XI. Dissolution

Dissolution of the Computer Science Undergraduate Association may be approved by a two-thirds majority of general meeting convened during instruction with at least two weeks notice of the intent to dissolve the CSUA. In the event of dissolution, to the extent permitted by campus and ASUC regulations, all remaining assets shall be donated to a campus computing organization which allows free access to all University of California at Berkeley students. 


## Article XII. ASUC

If the organization is ASUC or GA Sponsored, all unspent ASUC funds shall return to the ASUC; all Graduate Assembly funds shall return to the Graduate Assembly. If the organization is defunct for five (5) or more years, any privately obtained funds (including any funds left in miscellaneous accounts) shall be donated to the ASUC. In the event that the designated nonprofit organization no longer exists or has ceased to be a nonprofit, then the unspent funds shall be donated to the ASUC. 

This organization hereby wishes to seek ASUC sponsorship. This organization adopts and incorporates by reference Schedule A of ASUC Bylaw 2201,  and the same as may be amended from time to time, completely and fully as part of this Constitution. This organization cannot amend this clause unless and until the ASUC has certified that this organization has ceased to be ASUC-sponsored, all ASUC property has been returned to the ASUC, access to all ASUC resources and facilities has been relinquished, and any debts, liabilities, or other responsibilities to the ASUC have been resolved. This organization will continue to be bound by any provisions specified in Schedule A for actions it took while this clause was in effect, even if this clause is amended.

Last modified Dec 09, 2023
{% endmarkdown %}
</div>
{% endblock %}
