{% extends "simple_page.html" %}
{% block title %}Contact Us{% endblock %}
{% block pagetitle %}Contact Us{% endblock %}
{% block page_content %}
<div class="content">
  <p>
  Direct any general questions about the CSUA to pb@csua.berkeley.edu.
  </p>
  <p>
  You can also join our
  <a href="https://csua.slack.com/">Slack</a> for updates on club planning, 
  and our more social <a href="https://discord.gg/eFBYr2t2Ky">Discord</a>
  to keep up to date with day-to-day discussions.
  </p>
</div>
{% endblock %}
{# vim: set et ts=2 sw=2: #}
