{% extends "base.html" %}
{% block title %}Create Account Success{% endblock %}
{% block css_file %}newuser.css{% endblock %}
{% block content %}
<h1 class="title">
  Success
</h1>
<h2 class="title">
  Your account has been created!
</h2>
<br/>
<div class="container">
  <div class="box">
    <div style= "margin: 0px auto; clear: left; width:300">
      <pre>
 ______________________
< Welcome to the CSUA! >
 ----------------------
  \   ^__^
   \  (oo)\_______
      (__)\       )\/\
          ||----w |
          ||     ||

      </pre>
    </div>
  </div>
  <div class="box">
    <div class="content">
      <p>
      You can now
      <ul>
        <li>Log into the desktop machines in our office (311 Soda)</li>
        <li>Log into our servers, soda and latte</li>
        <li>Receive periodic emails about upcoming events</li>
      </p>
      <p>
      If you ever need your password reset, please contact root@csua.berkeley.edu
      </p>
    </div>
  </div>
</div>
{% endblock %}
{# vim: set et ts=2 sw=2: #}
