{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block css_file %}newuser.css{% endblock %}
{% block content %}
<div class="header">
  Your account has been created!
</div>
<br/>
<div class="block">
  Words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account words describing how awesome you are now that you have an account.
</div>
{% endblock %}
