{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block css_file %}events.css{% endblock %}
{% block content %}
    <div id="upcoming-events">
        <div class="header">Fall 2014 Events</div>
        <div class="column columnleft">
            <div class="subheader"> Upcoming Events 
        <div class="event block"><a href="https://www.facebook.com/events/324492587760279"><div class="event-name">CSUA Alumni BBQ</div></a><div class="event-timelocation">Sat Apr 25 2015 12:00:00 GMT-0700 (PDT), Wozniak Lounge</div></div><div class="event block"><a href="https://www.facebook.com/events/926289944071280"><div class="event-name">CSUA Hackathon</div></a><div class="event-timelocation">Sat Apr 11 2015 12:00:00 GMT-0700 (PDT), Wozniak Lounge</div></div><div class="event block"><a href="https://www.facebook.com/events/864469646945956"><div class="event-name">CSUA+Microsoft: Coding for Grub</div></a><div class="event-timelocation">Mon Apr 06 2015 18:30:00 GMT-0700 (PDT), Wozniak Lounge</div></div><div class="event block"><a href="https://www.facebook.com/events/1563484063923698"><div class="event-name">Aspera Tech Talk</div></a><div class="event-timelocation">Thu Apr 02 2015 17:30:00 GMT-0700 (PDT), Wozniak Lounge</div></div></div>
            </div>
        </div>
        <div class="column columnright">
            <div class="subheader"> Past Events 
        <div class="event block"><a href="https://www.facebook.com/events/1635641699990221"><div class="event-name">Zynga Infosession</div></a><div class="event-timelocation">Thu Mar 19 2015 17:15:00 GMT-0700 (PDT), Wozniak Lounge</div></div><div class="event block"><a href="https://www.facebook.com/events/1032397810122506"><div class="event-name">CSUA GM #2</div></a><div class="event-timelocation">Fri Mar 06 2015 18:00:00 GMT-0800 (PST), Wozniak Lounge</div></div><div class="event block"><a href="https://www.facebook.com/events/393679840812603"><div class="event-name">Samsung Infosession + Tech Talk</div></a><div class="event-timelocation">Thu Feb 26 2015 17:30:00 GMT-0800 (PST), Wozniak Lounge</div></div></div>
            </div>
        </div>
    </div>
{% endblock %}
