{% extends "base_with_hero.html" %}
{% load static from staticfiles %}
{% block title %}Home{% endblock %}
{% block hero %}
{% include "hero_with_bg_img.html" with title="Welcome to the CSUA" subtitle="UC Berkeley Computer Science Undergraduate Association" img_url="/static/images/Ben_and_Starr_at_Calapalooza.jpg" %}
{% endblock %}

{% block page_content %}
<div class="columns is-centered">
  <div class="column">
    <div class="box content">
      <h1>Hello World!</h1>
      <p>
      The Computer Science Undergraduate Association supports the undergraduate
      computer science student body at UC Berkeley and acts as an entry point to
      <a href="{% url 'sponsors' %}">industry</a>.
      </p>
      <p>
      The CSUA hosts tech talks, hackathons, info sessions,
      <a href="{% url 'workshops' %}">workshops</a>,
      LAN parties, and the biannual
      <a href="http://ucbstartupfair.com/">Startup Fair</a>.
      </p>

      <p>
      Looking for a place to learn more about computer science and meet
      other students? Come visit us at our office (311 Soda) or come to our
      <a href="/events/">events.</a>
      </p>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column">
    <div class="box">
    <div class="content">
      <a href="{% url 'events' %}"><h1>Upcoming Events</h1></a>
      {% include "upcoming_events.html" %}
    </div>
    </div>
  </div>
  <div class="column">
    <div class="content box">
      <h1>People</h1>
      <h2><a href="{% url 'politburo' %}">The Politburo</a></h2>
      <p>
      The Politburo is composed of elected officers of the CSUA. You can
      contact the Politburo at politburo@csua.berkeley.edu.
      </p>
      <h2 id="officers"><a href="{% url 'officers' %}">Officers</a></h2>
      <p>
      Officers are people you find frequently at the office. They’re
      responsible for keeping the place open and friendly. Many of them are
      experienced with programming and can help you with your classes.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="content box">
      <h1>Our Office</h1>

      <p>
      The CSUA Office is located in 311 Soda Hall in front of the 3rd floor
      entrance to Soda Hall, at the corner of Hearst &amp; LeRoy.
      </p>

      <p>
      We work around the clock to provide
      <a href="{% url 'computing_resources' %}">computing resources</a>,
      support, and community to the computer science students at Berkeley.
      </p>

      <b>Address</b><br />

      Computer Science Undergraduate Association<br />
      University of California, Berkeley<br />
      311 Soda Hall<br />
      Berkeley, CA 94720-1776<br />
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="content box">
      <h1 id="the-department">The Department</h1>
      <h2 id="computer-science">
        <a href="http://www.cs.berkeley.edu/">Computer Science</a>
      </h2>
      <p>
      Learn more about the Computer Science department at UC Berkeley. The
      L&amp;S CS advisors can be found
      <a href="https://eecs.berkeley.edu/resources/undergrads/cs/advising"  
	   here
      </a>.
      </p>

      <h2 id="electrical-engineering--computer-science">
        <a href="http://www.eecs.berkeley.edu/">
          Electrical Engineering &amp; Computer Science
        </a>
      </h2>

        <p>
        Learn more about the Electrical Engineering &amp; Computer Science
        department in UC Berkeley’s College of Engineering. The EECS advisors can be found
        <a href="https://eecs.berkeley.edu/resources/undergrads/eecs/advising"
          here</a>.
        </p>
    </div>
  </div>
</div>
{% endblock %}
{# vim: set et ts=2 sw=2: #}
