{% extends "base.html" %}
{% load fiber_tags %}
{% block css_file %}industry.css{% endblock %}
{% block content %}
<div class="column columnleft">
  <div class="block">
    {% show_page_content "cause" %}
  </div>
  <div class="blockseparation"></div>
  <div id="donatepicturetwo">
    {% show_page_content "donatepicturetwo" %}
  </div>
</div>
<div class="responsivehidden blockseparation"></div>
<div class="column columnright">
  <div id="donatepictureone">
    {% show_page_content "donatepictureone" %}
  </div>
  <div class="blockseparation"></div>
  <div class="block">
    {% show_page_content "contributions" %}
  </div>
</div>
{% endblock %}
