{% extends "base.html" %}
{% block title %}Donate{% endblock %}
{% block css_file %}donate.css{% endblock %}
{% block content %}
        <div class="block" id="pagetitle">
          <div class="header" id="headertitle">Industry</div>
          <div class="text" id="texttitle">
            The Berkeley CSUA works closely with companies, investors, entrepreneurs,
            and active members of the software industry to bring both mentorship and
            job opportunities to students.
          </div>
        </div>
        <div class="blockseparation"></div>

        <div class="column columnleft">
            <div class="block">
                <div class="header">Cause</div>
                <div class="text">
                    The CSUA is dedicated to improving the experience of computer science
                    undergraduates at Berkeley. We host hackathons, where students hack on
                    projects for 18-hour long coding periods, as well as other events, bringing
                    industry speakers to campus. We also provide free UNIX logins and server
                    hosting for students. Our study and social lounges are places for students
                    to relax and study.</br>
                    Donate with the full confidence that your donation will be used to
                    support a new generation of Berkeley engineers.
                </div>
            </div>
            <div class="blockseparation"></div>
            <div id="donatepicturetwo">
                <img src="{{ STATIC_URL }}images/donate2.jpg">
            </div>
        </div>
        <div class="responsivehidden blockseparation"></div>
        <div class="column columnright">
            <div id="donatepictureone">
                <img src="{{ STATIC_URL }}images/donate1.jpg">
            </div>
            <div class="blockseparation"></div>
            <div class="block">
                <div class="header">Contributions</div>
                <div class="text">
                    If you would like to contribute to the CSUA, please email the Politburo
                    at politburo@csua.berkeley.edu. Thank you for your generosity! <br>
                    If you are a company representative and would like to sponsor a CSUA
                    event or donate for a particular purpose, please contact our industrial
                    relations VP at indrel@csua.berkeley.edu.
                </div>
            </div>
        </div>
{% endblock %}
