{% extends "base.html" %}
{% load fiber_tags %}
{% block content %}
<div class="block" id="pagetitle">
  {% show_page_content "pagetitle" %}
</div>
<div class="blockseparation"></div>
<div class="column columnleft">
  <div id="signup" class="block">
    {% show_page_content "signup" %}
  </div>
  <div class="blockseparation"></div>
  <div id="officer" class="block">
    {% show_page_content "officer" %}
  </div>
  <div class="blockseparation"></div>
  <div id="joinpicture">
    {% show_page_content "joinpicture" %}
  </div>
</div>
<div class="responsivehidden blockseparation"></div>
<div class="column columnright">
  <div id="wozpic">
    {% show_page_content "wozpic" %}
  </div>
  <div class="blockseparation"></div>
  <div id="whytojoin" class="block">
    {% show_page_content "whytojoin" %}
  </div>
</div>
{% endblock %}
