{% extends "base.html" %}
{% block title %}Create Account Remotely{% endblock %}
{% block content %}
<section class="section container">
  <div class="box content" id="top">
    <h1>Create Account Remotely</h1>

    <p>
    Hello World!  Welcome to the CSUA.  By creating an account with us, you will be granted access to our computers and use of our servers.  Enter your Berkeley email in order to get sent a link where you can create a new CSUA account.
    </p>
    {% if messages %}
    <div class="notification is-danger">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="box">
      <form action="/newuser/remote/" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</section>
{% endblock %}
{# vim: set et ts=2 sw=2: #}

