{% extends "base.html" %}
{% block title %}Officers{% endblock %}
{% block css_file %}officers.css{% endblock %}
{% block content %}
<div class="block" id="pagetitle">
  <div class="header" id="headertitle">Officers</div>
  <div class="text" id="texttitle">
    Are you new to Berkeley? New to CS? Need help with class? Want people to
    talk to? Come by the office in 311 Soda and meet some of our officers! They're here
    to help you and keep the office tidy and fun. <br><br>
    <a href="https://docs.google.com/spreadsheets/d/1NNv18ZajHoaH3oAtq8d-ENnAE7wCsseqKUXQwkvb1y0/edit#gid=0">Calendar of office hours</a>
  </div>
</div>
<div class="roster">
  {% for officer in officer_list|dictsort:"last_name" %}
  <div class="officer">
    <div class="photo-frame">
      {% if not officer.photo2 %}
      <img class="single" src="{{ officer.photo1.url }}">
      {% else %}
      <img class="photoone" src="{{ officer.photo1.url }}">
      <img class="phototwo" src="{{ officer.photo2.url }}">
      {% endif %}
      {% if officer.root_staff %}
      <div class="root-staff-banner">Root</div>
      {% endif %}
    </div>
    <div class="name">{{ officer.first_name }} {{ officer.last_name }}</div>
    <div class="officehours">{{ officer.office_hours }}</div>
    <div class="blurb">"{{ officer.blurb }}"</div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
