{% extends "base.html" %}
{% block title %}Officers{% endblock %}
{% block css_file %}officers.css{% endblock %}
{% block content %}
        <div class="header">
            Officers
        </div>
        <div class="text">
            Are you new to Berkeley? New to CS? Need help with class? Want people to
            talk to? Come by the office in 311 Soda and meet some of our officers! They're here
            to help you and keep the office tidy and fun.
        </div>
        <table class="block descript">
            <tr>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/alexchu.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/ana.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/austin1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/austin2.jpg">
                    </div>
                </td>
                  <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/christopher.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="name"><a href="http://alexpchu.com/">Alex Chu</a></div>
                    <div class="officehours">Friday, 5-6 PM</div>
                    <div class="description">
                        <marquee behavior="alternate">Pizza is not a vegetable.</marquee>
                    </div>
                </td>
                <td>
                    <div class="name">Ana Shuler</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "I study mechanical engineering, but computers are fun too!"
                    </div>
                </td>

                <td>
                    <div class="name">Austin Kim</div>
                    <div class="officehours">Monday, 4-6 PM</div>
                    <div class="description">
                        "Hello this is filler text."
                    </div>
                </td>
                <td>
                    <div class="name">Christopher Dinh</div>
                    <div class="officehours">Thursday, 2-3 PM</div>
                    <div class="description">
                        "The lone emacs user in a sea of vim."
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/claire1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/claire2.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/david.jpg">
                    </div>
                </td>
               <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/forest.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jack.jpg">
                    </div>
                </td>
            <tr>
                <td>
                    <div class="name">Claire Lieu</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "Mandarin and Taiwanese, with food most of the time :p"
                    </div>
                </td>
                <td>
                    <div class="name">David Bui</div>
                    <div class="officehours">Friday, 1-2 PM</div>
                    <div class="description">
                        "If you are using vim, type <br/>
                        vi template.js <br/>
                        And if you are using emacs, type<br/>
                        sudo apt-get remove emacs<br/>
                        vi template.js"
                    </div>
                </td>

                <td>
                    <div class="name">Forest Hughes</div>
                    <div class="officehours">Thursday, 3-4 PM</div>
                    <div class="description">
                        "Let's play melee."
                    </div>
                </td>
                <td>
                    <div class="name">Jack Martin</div>
                    <div class="officehours">Wednesday, 6-7 PM</div>
                    <div class="description">
                        "I do nothing of interest"
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jason.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/jeffrey1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/jeffrey2.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jessie.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jon.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="name">Jason Tu</div>
                    <div class="officehours">Tuesday, 10-12 AM</div>
                    <div class="description">
                        "Hi, I'm Jason. I'm really looking forward to getting to know you. I'm sure there's a lot we can learn from each other, and always feel free to chat with me. If you have any cool projects to work on, I'm always down, too.<br/>

                        Random Skills: Amateur tango dancer, professional saxophonist. Chief Marketing Officer at Summer to the World, Founder of Midnightswan.com. Currently working to reinvent imgur. "
                    </div>
                </td>
                <td>
                    <div class="name">Jeffrey Zhang</div>
                    <div class="officehours">Monday, 8-9 AM</div>
                    <div class="description">
                        "iClickCircles"
                    </div>
                </td>
                <td>
                    <div class="name">Jessie Salas</div>
                    <div class="officehours">Wednesday, 2-3 PM</div>
                    <div class="description">
                        "I'm mainly interested in NLP, but have been learning about entrepreneurship lately. I think there are a lot of soft skills that really make a difference when interacting as a technical person, and I really enjoy learning about how people perceive. <br/>
                        I like performing jazz and other musics."
                    </div>
                </td>
                <td>
                    <div class="name">Jonathan Allen</div>
                    <div class="officehours">Friday, 11-12 PM</div>
                    <div class="description">
                        "I do code and puns well."
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jong.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/kara1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/kara2.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/leo.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/megan.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="name">Jong Ahn</div>
                    <div class="officehours">Tuesday 3-4 PM</div>
                    <div class="description">
                        "Eating, sleeping"
                    </div>
                </td>
                <td>
                    <div class="name">Kara Gieseking</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "My hobbies are drawing, reading, and playing RPGs and adventure games.<br/>
                        My real hobby is sleeping."
                    </div>
                </td>
                <td>
                    <div class="name">Leo Wu</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "You have died of dysentery."
                    </div>
                </td>
                  <td>
                    <div class="name">Megan Zhu</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "Noob coder, mouse artist, avid leaguer."
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/michelle1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/michelle2.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/neil.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/robert.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/ryan.jpg">
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="name">Michelle Tian</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "61A TA and pun master.<br/>
                        I also like watching and eating things.
                        Generally not the same things."
                    </div>
                </td>
                <td>
                    <div class="name">Neil Hegde</div>
                    <div class="officehours">Monday, 8-9 AM</div>
                    <div class="description">
                        "And all I wanted was a slushie..."
                    </div>
                <td>
                    <div class="name">Robert Chang</div>
                    <div class="officehours">Monday, 10-11 AM</div>
                    <div class="description">
                        "A regular CS major."
                    </div>
                </td>
                <td>
                    <div class="name">Ryan Erickson</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "Good music, terrible puns, food, code comparable to the English language, video games, '); DROP TABLE Officers; --"
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/sanath.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/sherry1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/sherry2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/shrayus1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/shrayus2.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/susanna.jpg">
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="name">Sanath Mullapudi</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        ":P"
                    </div>
                </td>
                <td>
                    <div class="name">Sherry Xu</div>
                    <div class="officehours">Monday, 11-12 PM</div>
                    <div class="description">
                        "Come talk to me about biotechnology, music, hacking, anything."
                    </div>
                </td>
                <td>
                    <div class="name">Shrayus Gupta</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                          "Vim > Emacs"
                </td>
                 <td>
                    <div class="name">Susanna Souv</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                          "Don't sweat the petty things and don't pet the sweaty things"
                </td>

            </tr>
            <tr>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/youdong.jpg">
                    </div>
                </td>

            </tr>
            <tr>
                 <td>
                    <div class="name">Youdong Zhang</div>
                    <div class="officehours">Thursday 10-11 AM</div>
                    <div class="description">
                          "Likes to collect cacti and programming languages"
                </td>

            </tr>
        </table>
{% endblock %}

