{% extends "base.html" %}
{% block title %}Officers{% endblock %}
{% block css_file %}officers.css{% endblock %}
{% block content %}
        <div class="header">
            Officers
        </div>
        <div class="text">
            Are you new to Berkeley? New to CS? Need help with class? Want people to
            talk to? Come by the office in 311 Soda and meet some of our officers! They're here
            to help you and keep the office tidy and fun.
        </div>
        <table class="block descript">
            <tr>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/alexchu.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/ana.jpg">
                    </div>
                </td>
                <!-- <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/alex1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/alex2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/austin1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/austin2.jpg">
                    </div>
                </td> -->
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/claire1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/claire2.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/david.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="name"><a href="http://alexpchu.com/">Alex Chu</a></div>
                    <div class="officehours">Friday, 5-6 PM</div>
                    <div class="description">
                        <marquee behavior="alternate">Pizza is not a vegetable.</marquee>
                    </div>
                </td>
                <td>
                    <div class="name">Ana Shuler</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "I study mechanical engineering, but computers are fun too!"
                    </div>
                </td>
         <!--        <td>
                    <div class="name">Alex Hu</div>
                    <div class="officehours">Thursday, 6-12 AM</div>
                    <div class="description">
                        "Skilled at coding, lifting, and eating.  Not in that order."
                    </div>
                </td>
                <td>
                    <div class="name">Austin Kim</div>
                    <div class="officehours">Monday, 2-3 PM</div>
                    <div class="description">
                        "Hi this is a blurb."
                    </div>
                </td> -->
                <td>
                    <div class="name">Claire Lieu</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "Mandarin and Taiwanese, with food most of the time :p"
                    </div>
                </td>
                <td>
                    <div class="name">David Bui</div>
                    <div class="officehours">Friday, 1-2 PM</div>
                    <div class="description">
                        "If you are using vim, type <br>
                        vi template.js <br>
                        And if you are using emacs, type<br>
                        sudo apt-get remove emacs<br>
                        vi template.js"
                    </div>
                </td>
            </tr>
            <!-- <tr>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/collin1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/collin2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/diego1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/diego2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/elizabeth1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/elizabeth2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/forest1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/forest2.jpg">
                    </div>
                </td>
            </tr>
 --><!--             <tr>
                <td>
                    <div class="name">Collin Johnston</div>
                    <div class="officehours">TBA</div>
                    <div class="description">
                        
                    </div>
                </td>
                <td>
                    <div class="name">Diego Kiner</div>
                    <div class="officehours">Monday, 1-2 PM</div>
                    <div class="description">
                        "I like to do science. I like to teach science. You can ask me for
                        help with pretty much any lower division math, physics, or CS class!"
                    </div>
                </td>
                <td>
                    <div class="name">Elizabeth Kim</div>
                    <div class="officehours">Monday, 10-11 PM</div>
                    <div class="description">
                        "Prrrrrrr"
                    </div>
                </td>
                <td>
                    <div class="name">Forest Hughes</div>
                    <div class="officehours">Friday, 3-4 PM</div>
                    <div class="description">
                        "Random Skills: Didgeridoo-ing, Unicycling, Backflipping, Melee-ing"
                    </div>
                </td>
            </tr> -->
            <tr>
                <!-- <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/hina1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/hina2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/james1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/james2.jpg">
                    </div>
                </td>
 -->                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/jeffrey1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/jeffrey2.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jessie.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/jonathan1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/jonathan2.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/jong.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <!-- <td>
                    <div class="name"><a href="http://hinasakazaki.com/">Hina Sakazaki</a></div>
                    <div class="officehours">Tuesday, 12-1 PM</div>
                    <div class="description">
                        "Have taken all CS prerequisites. Also works as L&S CS Peer Adviser under Christopher Hunn in 377 Soda if you need advice. Have taken lots of Upper Div Econ classes. Pro Dota2 Player and president in exile. Follow me @swaggerzaki."
                    </div>
                </td>
                <td>
                    <div class="name">James Kang</div>
                    <div class="officehours">Wednesday, 1-2 PM</div>
                    <div class="description">
                        "Karaoke God, casual fisherman, 'We couldn't get an office cat, so we got James instead.'"
                    </div>
                </td> -->
                <td>
                    <div class="name">Jeffrey Zhang</div>
                    <div class="officehours">Monday, 8-9 AM</div>
                    <div class="description">
                        "iClickCircles"
                    </div>
                </td>
                <td>
                    <div class="name">Jessie Salas</div>
                    <div class="officehours">Wednesday, 2-3 PM</div>
                    <div class="description">
                        "I'm mainly interested in NLP, but have been learning about entrepreneurship lately. I think there are a lot of soft skills that really make a difference when interacting as a technical person, and I really enjoy learning about how people perceive. <br>
                        I like performing jazz and other musics."
                    </div>
                </td>
                <td>
                    <div class="name">Jonathan Allen</div>
                    <div class="officehours">Friday, 11-12 PM</div>
                    <div class="description">
                        "I do code and puns well."
                    </div>
                </td>
                <td>
                    <div class="name">Jong Ahn</div>
                    <div class="officehours">Tuesday 3-4 PM</div>
                    <div class="description">
                        "Eating, sleeping"
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/kara1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/kara2.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/leo.jpg">
                    </div>
                </td>
                <!-- <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/maajid1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/maajid2.jpg">
                    </div>
                </td> -->
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/megan.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/michelle1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/michelle2.jpg">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="name">Kara Gieseking</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "My hobbies are drawing, reading, and playing RPGs and adventure games.<br/>
                        My real hobby is sleeping."
                    </div>
                </td>
                <td>
                    <div class="name">Leo Wu</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "You have died of dysentery."
                    </div>
                </td>
             <!--    <td>
                    <div class="name">Maajid Nazrulla</div>
                    <div class="officehours">Saturday, 12-2 PM</div>
                    <div class="description">
                        "Poker player, DotA feeder, (jazz/classical) trumpeter, fascinated by
                        yo-yos and cameras."
                    </div>
                </td> -->
                  <td>
                    <div class="name">Megan Zhu</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "Noob coder, mouse artist, avid leaguer."
                    </div>
                </td>
                <td>
                    <div class="name">Michelle Tian</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "61A TA and pun master.<br/>
                        I also like watching and eating things.
                        Generally not the same things."
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/neil.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/robert.jpg">
                    </div>
                </td>
                 <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/ryan.jpg">
                    </div>
                </td>
                <td>
                    <div class="singlephoto">
                        <img src="{{ STATIC_URL }}images/officers/sanath.jpg">
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="name">Neil Hegde</div>
                    <div class="officehours">Monday, 8-9 AM</div>
                    <div class="description">
                        "And all I wanted was a slushie..."
                    </div>
                <td>
                    <div class="name">Robert Chang</div>
                    <div class="officehours">Monday, 10-11 AM</div>
                    <div class="description">
                        "A regular CS major."
                    </div>
                </td>
                <td>
                    <div class="name">Ryan Erickson</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        "Good music, terrible puns, food, code comparable to the English language, video games, '); DROP TABLE Officers; --"
                    </div>
                </td>
                <td>
                    <div class="name">Sanath Mullapudi</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                        ":P"
                    </div>
                </td>
                
            </tr>
            <tr>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/sherry1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/sherry2.jpg">
                    </div>
                </td>
                <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/shrayus1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/shrayus2.jpg">
                    </div>
                </td>
              <!--   <td>
                    <div class="photoone">
                        <img src="{{ STATIC_URL }}images/officers/tristan1.jpg">
                    </div>
                    <div class="phototwo">
                        <img src="{{ STATIC_URL }}images/officers/tristan2.jpg">
                    </div>
                </td>
 -->            </tr>
            <tr>
                <td>
                    <div class="name">Sherry Xu</div>
                    <div class="officehours">Monday, 11-12 PM</div>
                    <div class="description">
                        "Come talk to me about biotechnology, music, hacking, anything."
                    </div>
                </td>
                <td>
                    <div class="name">Shrayus Gupta</div>
                    <div class="officehours">TBD</div>
                    <div class="description">
                          "Vim > Emacs"
                </td>
           <!--      <td>
                    <div class="name">Tristan Killeen</div>
                    <div class="officehours">Thursday, 10:45-11:45 AM</div>
                    <div class="description">
                        "Well met!"
                    </div>
                </td> -->
            </tr>
        </table>
{% endblock %}

