{% extends "base.html" %}
{% load fiber_tags %}
{% block title %}Politburo{% endblock %}
{% block css_file %}politburo.css{% endblock %}
{% block content %}
{% show_page_content "pb_img" %}
<table class="politburo block">
  {% for pb_member in pb %}
  <tr>
    <td>
      <img class="photo-frame" src="{{ pb_member.officer.photo1.url }}">
    </td>
    <td>
      <div class="title">{{ pb_member.title }}</div>
      <div class="name">{{ pb_member.officer.first_name }} {{ pb_member.officer.last_name }}</div>
      <div class="email">{{ pb_member.position }}@csua.berkeley.edu</div>
      <div class="text">
        {{ pb_member.description }}
      </div>
      <div class="text">
        {{ pb_member.contact }}
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
