{% extends "base.html" %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<section class="section container">
    <div class="box content" id="top">
        <h1>Reset Your Password</h1>

        <p>
        Whoops! It seems you forgot your password. That's okay! We can fix that. Just enter your username and we will send a link to your Berkeley email in which you can reset your password. If you made your account before we asked for your email, please contact root staff. Thank you.
    </div>
    <div class='box'>
        <form action="/reset-password/" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>
</section>
{% endblock %}
