{% load thumbnail %}
<div class="columns is-multiline is-centered">
{% for sponsorship in sponsorships %}
{% with sponsorship.sponsor as sponsor %}
<div class="column is-4">
  <div class="has-text-centered">
    <h2 class="is-size-4 has-text-weight-bold">
      <a class="has-text-centered" href="{{ sponsor.url }}">
        {{ sponsor.name }}
      </a>
    </h2>
  </div>
  <br>
  {% thumbnail sponsor.photo "x200" as im%}
  <figure class="has-text-centered">
    <img src="{{ im.url }}">
  </figure>
  {% endthumbnail %}
  <div style="margin-bottom: 1em;" class="content has-text-centered">
    <p>{{ sponsorship.description }}</p>
  </div>
</div>
{% endwith %}
{% endfor %}
</div>
{# vim:set sw=2:et:ts=4: #}
