{% extends "base.html" %}
{% load fiber_tags %}
{% block css_file %}industry.css{% endblock %}
{% block content %}
<div class="block">
  <h1>Industry</h1>
  <div class="blockseparation"></div>
  {% show_page_content "info" %}
</div>
<div class="blockseparation"></div>
<div class="block">
  <h1>Current Sponsors</h1>
  <table class="sponsors">
    {% for sponsor_row in sponsors_current %}
    <tr>
      {% for sponsor in sponsor_row %}
      <td><img src="{{ sponsor.photo.url }}"></td>
      {% endfor %}
    </tr>
    <tr>
      {% for sponsor in sponsor_row %}
      <td>
        <div class="subheader"><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></div>
        <div class="text">
          {{ sponsor.description }}
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<div class="blockseparation"></div>
<div class="block">
  <h1>Past Sponsors</h1>
  <table class="sponsors">
    {% for sponsor_row in sponsors_old %}
    <tr>
      {% for sponsor in sponsor_row %}
      <td><img src="{{ sponsor.photo.url }}"></td>
      {% endfor %}
    </tr>
    <tr>
      {% for sponsor in sponsor_row %}
      <td>
        <div class="subheader"><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></div>
        <div class="text">
          {{ sponsor.description }}
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
