{% extends "simple_page.html" %}
{% block title %}Tutoring{% endblock %}
{% block pagetitle %}Tutoring{% endblock %}
{% block page_content %}
<p>
Need help with your classes?
Officers of the CSUA provide free tutoring services in 311 Soda.
Please check our calendar below!
</p>

<div class="columns">
    {% for subject, tutors in tutors_by_subject.items %}
    <div class="column">
        {{ subject }}<br>
        {% for tutor in tutors %}
        {{ tutor.person.user.first_name }}&nbsp;{{ tutor.person.user.last_name }}
        &lt;{{ tutor.person.user }}&gt;
        {% endfor %}
    </div>
    {% endfor %}
</div>

<p>
If you are interested in becoming a tutor,
<a href="https://goo.gl/forms/MCm39tkcQqgnDP9n1">
please fill out this form,
</a>
and send an email to president@csua.berkeley.edu.
</p>
{% endblock %}
{# vim:set et sw=4: #}
