{% extends "simple_page.html" %}
{% block title %}Tutoring{% endblock %}
{% block pagetitle %}Tutoring{% endblock %}
{% block page_content %}
<p>
Need help with your classes?
Officers of the CSUA provide free tutoring services in 311 Soda.
</p>
<br>

<p>
If you cannot make it to any tutoring appointments, you are always welcome to
come to our office hours on Discord! (https://csua.org/discord).
Most officers are willing to help you with your classes, just come in and say hi!
</p>
<br>

<! --
<p>
<a class="button is-link" href="https://calendar.google.com/calendar/selfsched?sstoken=UUJwQ00ycnRfbFdhfGRlZmF1bHR8OTljZWU2NGY2Yzg5MWZiZTkwYjZmOTliOWIyN2RkNDY">
        Click here to book a tutoring / advising appointment
</a>
</p>
<br>
-->

<p>
If you are interested in becoming a tutor,
<a href="https://goo.gl/forms/MCm39tkcQqgnDP9n1">
please fill out this form,
</a>
and send an email to president@csua.berkeley.edu.
</p>
{% endblock %}
{# vim:set et sw=4: #}
