{% extends "base.html" %}
{% block title %}Tutoring{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-body">
        <h1 class="title">Tutoring</h1>
        <p>
        Need help with your classes? Members of the CSUA provide free tutoring
        services in 311 Soda. Please check our calendar below!
        </p>
    </div>
</div>

<div id="tutoring-calendar" class="box container has-text-centered">
    <iframe
        src="https://calendar.google.com/calendar/embed?src=berkeley.edu_ovluroab46af2sbup6ot2h6m58%40group.calendar.google.com&ctz=America%2FLos_Angeles&mode=AGENDA"
        style="border: 0" frameborder="0" scrolling="no" height=600 width=800></iframe>
</div>

<p>
If you are interested in becoming a tutor,
<a href="https://goo.gl/forms/MCm39tkcQqgnDP9n1">
please fill out this form,
</a>
and send an email to president@csua.berkeley.edu.
</p>
{% endblock %}
{# vim:set et sw=4: #}
