{# vim placeholder #}
{% load db_data_tags %}
{% get_upcoming_events as events %}
{% if events %}
<ol start=0>
        {% for event in events %}
        <li>
                <strong>{{ event.name }}</strong><br>
                {{ event.date|date:"l, N j, Y" }} {{ event.time }}
                <span class="icon is-small">
                        <a href="{{ event.link }}">
                                <i class="fas fa-link"></i>
                        </a>
                </span><br>
                {{ event.location }}
        </li>
        {% endfor %}
</ol>
{% else %}
No upcoming events found.
<p>
Stay up to date with our upcoming events&mdash;join our mailing list by making
a CSUA account and follow us on <a href="https://www.facebook.com/csua/">Facebook.</a>
</p>
{% endif %}
