{# vim placeholder #}
{% if events %}
<ol start=0>
        {% for event in events %}
        <li>
                <strong>{{ event.name }}</strong><br>
                {{ event.date|date:"l, N j, Y" }} {{ event.time }}
                <span class="icon is-small">
                        <a href="{{ event.link }}">
                                <i class="fas fa-link"></i>
                        </a>
                </span><br>
                {{ event.location }}
        </li>
        {% endfor %}
</ol>
{% else %}
No upcoming events found.
Stay up to date with our next events by joining our mailing list by making an
account and following us on <a href="https://www.facebook.com/csua/">Facebook.</a>
{% endif %}
