{% extends "ldap_admin.html" %}
{% block content %}
{% if messages %}
<section class="section">
  <div class="container content is-danger">
    <ul>
      {% for message in messages %}
      <li>{{ message.level_tag|upper }} {{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
<section class="section has-background-light">
  <div class="container content">
    <h2>{{ groupname }}</h2>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <ul>
          {% for member in members %}
          <li>{{ member }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="column">
        <form action="{% url 'ldap_admin_group' groupname=groupname %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{# vim: set et sw=2: #}
