{% extends "base.html" %}
{% load staticfiles %}
{% block title%}LDAP Admin{% endblock %}
{% block content %}
{% block header %}
<section id="header" class="section ">
  <div class="container content">
    <h1>
      <a href="{% url 'ldap_admin' %}">
        CSUA LDAP Admin Interface
      </a>
    </h1>
  </div>
</section>
{% endblock %}
{% block messages %}
{% if messages %}
<section class="section">
  <div class="container content is-danger">
    <ul>
      {% for message in messages %}
      <li>{{ message.level_tag|upper }} {{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
{% endblock %}
{% block page_content %}
<section class="section has-background-light">
  <div class="container">
    <div class="columns">
      <div class="column content">
        <h2>Users</h2>
        <form id="userform" action="{% url 'ldap_admin' %}">
          <input type="text" name="user">
          <input type="submit" value="Go">
        </form>
        <h2><a href="{% url 'ldap_admin_validate_groups' %}">Group Role Validator</a></h2>
      </div>
      <div class="column content">
        <h2>Relevant Groups</h2>
        <ul>
          {% for group in relevant_groups %}
          <li>
            <a href="{% url 'ldap_admin_group' groupname=group %}">{{ group }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="column content">
        <h2>All Groups</h2>
        <ul>
          {% for group in groups %}
          <li>
            <a href="{% url 'ldap_admin_group' groupname=group %}">
              {{ group }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% endblock %}
{# vim: set et sw=2: #}
